= content_for :head do
  = stylesheet_link_tag    "pc/edit_account"

= content_for :last do
  = javascript_include_tag "main/pc/edit_account"

= render partial: "application/pc/default_header"

.edit-account-page
  .settingBox
    .settingBoxInner
      %ul.settingList
        %li.item
          %h2.settingTtl SNSアカウントの連携
          %table.snsList
            %tr
              %th
                .snsName Twitter
              %td
                .coopStatus
                  - unless @twitter_provider
                    = link_to "連携する", "/auth/twitter", class: "notConnect connect-twitter-btn"
                  - else
                    %span.connectTw 連携中
            %tr
              %th
                .snsName Facebook
              %td
                .coopStatus
                  - unless @facebook_provider
                    = link_to "連携する", "/auth/facebook", class: "notConnect connect-facebook-btn"
                  - else
                    %span.connectFb 連携中

        %li.item
          %h2.settingTtl ゲームステータス更新時のSNS共有
          %table.snsList
            - if @twitter_provider
              %tr
                %th
                  .snsName Twitter
                %td
                  .coopStatus
                    = check_box_tag "twitter-share", true, @twitter_provider[:share_log_status], {class: "tw-log-status-share-checkbox", "data-id" => @twitter_provider[:id]}
            / - if @facebook_provider
            /   %tr
            /     %th
            /       .snsName Facebook
            /     %td
            /       .coopStatus
            /         = check_box_tag "facebook-share", true, @facebook_provider[:share_log_status], {class: "fb-log-status-share-checkbox", "data-id" => @facebook_provider[:id]}

        %li.item
          %h2.settingTtl Gamrを退会
          %p.settingTxt 退会すると、アカウントが持つ全ての情報が削除されます。
          = link_to "退会する", "#", class: "dltAccount delete-account-btn"



= render partial: "application/underscore/pc/common/delete_confirm"