%script{type: "text/template", id: "flow-template"}
  %header.SignupHeader
    %h1.SignupHeaderTtl GAMR
  %section.Signup
    %h1.SignupTtl
      ようこそ！
      %br
      #{@current_provider[:username]}さん
    %figure.SignupImgWrap
      = image_tag "smart_phone/default.png", width:"140", height:"140", class: "SignupImg", alt: "アカウント画像"
      - case @current_provider[:service_name]
      - when "facebook"
        .serviceLogo.icon-facebook
      - when "twitter"
        .serviceLogo.icon-twitter
    %p.SignupBtnWrap
      %a.SignupBtn{href: "/users/new#signup"} 新しくアカウントをつくる
    %p.SignupText
      新しくGAMRのアカウントを作成して、#{@current_provider[:service_name]}アカウントと接続します。作成したGAMRのアカウントには、#{@current_provider[:service_name]}アカウントでログインできます。
    %p.SignupBtnWrap
      %a.SignupBtn{href: "/users/new#signin"} GAMRとつなげる
    %p.SignupText
      すでにGAMRのアカウントをお持ちの場合は、#{@current_provider[:service_name]}アカウントと接続することで、#{@current_provider[:service_name]}アカウントでGAMRにログインできるようになります。
