= content_for :head do
  = stylesheet_link_tag "admin/common"

.navbar.navbar-inverse
  - if @current_admin
    .glyphicon.glyphicon-cog.dropdown-toggle#dropdownMenu{"data-toggle" => "dropdown"}
    %ul.dropdown-menu{role: "menu", "aria-labelledby" => "dropdownMenu"}
      %li{role: "presentation"}
        = link_to "ログアウト", admin_session_path(@current_admin), method: :delete

.container
  %table.table.table-striped
    %tr
      %th ID
      %th タイトル
      %th サムネイル
      %th メーカー
      %th wiki
      %th 価格
      %th 発売日
      %th デバイス
      %th プロバイダー
    = render partial: "game", collection: @games
  .paginate-wrap
    = paginate @games