= content_for :head do
  = stylesheet_link_tag    "smart_phone/profile_edit"

= content_for :last do
  = javascript_include_tag "main/smart_phone/profile_edit"

.user-edit-page
  %header
    %h1.ttl ユーザー編集
    %span.cancelWrap
    = link_to "", "/users/#{@current_user[:id]}#logs", class: "icon-allow"
  = form_for @user do |f|
    = f.hidden_field :clip_x, id: "clip-x"
    = f.hidden_field :clip_y, id: "clip-y"
    .error-message.errorMessage
    .file-input
      #thumbnail
        = image_tag "/user_photos/#{@user.photo_path}", class: "profile-img"
      %span プロフィール画像
      = f.file_field :photo_path, id: "upload-btn"
    .username-input
      %span.icon-user
      = f.text_field :username
    .place-input
      %span.icon-place
      = f.text_field :place
    .introduction-input
      %span.icon-info
      = f.text_field :introduction
    = f.submit "変更", class: "edit"

  = render partial: "application/smart_phone/clip_modal"
