= content_for :head do
  = stylesheet_link_tag    "smart_phone/user"

= content_for :last do
  = javascript_include_tag "main/smart_phone/profile_edit"

.user-edit-page
  %header
    %h1.ttl ユーザー編集
    %span.cancelWrap
    = link_to "戻る", user_path(@user[:id]), class: "cancel"
  = render "form"