= content_for :head do
  = stylesheet_link_tag    "pc/profile_edit"

= content_for :last do
  = javascript_include_tag "main/pc/profile_edit"

= render partial: "application/pc/default_header"

%section.mainContent.user-edit-page
  .profileBox
    .profileBoxInner
      %figure.profImgWrap
        = image_tag "/user_photos/#{@user[:photo_path]}", class: "profImg", width: 135, height: 135, alt: "ユーザー画像"
  .profileColumnWrap
    .profileLeftColumn
      %h1.userName
        = @user.username
      - unless @user.place.blank?
        %p.userPlace
          = @user.place
      %p.userInfo
        = @user.introduction
    .profileEditBox
      .profileEditInner
        = form_for @user do |f|
          = f.hidden_field :clip_x, id: "clip-x"
          = f.hidden_field :clip_y, id: "clip-y"
          %dl.editList.imgEdit
            %dt.editListTtl プロフィール画像
            %dd.editProf
              %figure.profImgWrap#thumbnail
                = image_tag "/user_photos/#{@user[:photo_path]}", class: "profImg", width: 150, height: 150, alt: "ユーザー画像"
              .uploadBtnWrap
                %span ファイルを選択
                = f.file_field :photo_path, id: "upload-btn", class: "uploadBtn"
          .error-message.errorMessage
          %dl.editList
            %dt.editListTtl ユーザーネーム
            %dd.editElm
              = f.text_field :username
          %dl.editList
            %dt.editListTtl 場所
            %dd.editElm
              = f.text_field :place
          %dl.editList
            %dt.editListTtl 自己紹介(200文字)
            %dd.editElm
              = f.text_area :introduction
          = f.submit "変更を保存", class: "editBtn"

  = render partial: "application/pc/clip_modal"

