= content_for :head do
  = stylesheet_link_tag "smart_phone/login"

%section.mainVisual
  %h1.ttl
    = image_tag("logo@2x.png", width:"120" )
  %h2.mainCopy
    たくさんのゲームを
    %br
    遊んできた。
  %p.subCopy
    gamrは遊んだゲームや気になるゲームなどを記録し、友達と共有できるWeb サービスです。
  %section.loginBox
    %ul.snsList
      %li.item
        %a.tw{href: "/auth/twitter"}
          %span.icon-twitter Twitterでログイン
      %li.item
        %a.fb{href: "/auth/facebook"}
          %span.icon-facebook Facebookでログイン
      /
        %li.item
          %a.gamr gamr IDでログイン
%section.pointsTtl gamrのつかいかた
%section.points
  %section.first
    %h1 ゲームを記録
    = image_tag("screenshot_01.png", width: "300")
    %p 気になるゲームや遊んだゲームをマイゲームに登録することで、自分だけのオリジナルカタログ（のようなもの）が出来上がります。
    %p.annotation
      遊んできたゲームを見返したり、友達に共有することで、新たな発見があるかもしれません。
  %section.second
    %h1  感想を共有
    = image_tag("screenshot_02.png", width: "300")
    %p 登録したゲームに対して、なんどでもつぶやく事ができます。ガチなレビューとは違うので、些細な事でもどんどんシェアしましょう！
    %p.annotation
      ゲームを遊んでいる時って、感想をシェアしたくなる瞬間が何度も訪れたりしませんか？
  %section.third
    %h1 ゲームを調べる
    = image_tag("screenshot_03.png", width: "300")
    %p ゲームの詳細ページでは、公式ウェブサイトやジャンルなどの情報を揃えてあります。他のユーザーの感想などと合わせて、好みのゲームを見つけましょう。
    %p.annotation あなたが遊ぶべきゲームは、あなたの友達が知っているかもしれません。
%section.bottomBox
  %h1 ゲームをもっと楽しもう。
  %ul.snsList
    %li.item
      %a.tw{href: "/auth/twitter"}
        %span.icon-twitter Twitterでログイン
    %li.item
      %a.fb{href: "/auth/facebook"}
        %span.icon-facebook Facebookでログイン
    /
      %li.item
        %a.gamr
          %span gamrのIDでログイン

= render partial: "application/smart_phone/footer"