= content_for :head do
  = stylesheet_link_tag "pc/login"

%header.lpHeader
  %h1.ttl Gameful
  %p.catchcopy キャッチコピー｡キャッチコピー｡
  %ul.snsList
    %li.item
      %a.twBtn{href: "/auth/twitter"} Twitterでログイン
    %li.item
      %a.fbBtn{href: "/auth/facebook"} Facebookでログイン
%section.contentBox01
  %h2.ttl
    機能の説明機能の説明
    %br
    機能の説明
  .cntInner
    %figure.cntImg
      = image_tag "pc/lp_img02.png", width: "172", height: "322", alt: ""
    %p.txt 機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳
%section.contentBox02
  %h2.ttl
    機能の説明機能の説明
    %br
    機能の説明
  %figure.cntImg
    = image_tag "pc/lp_img03.png", width: "816", height: "235", alt: ""
%section.contentBox03
  .cntInner
    .cntLeft
      %h2.ttl
        機能の説明機能の説明
        %br
        機能の説明
      %p.txt 機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳細に説明機能を詳
    %figure.cntImg
      = image_tag "pc/lp_img02.png", width: "172", height: "322", alt: ""
%section.contentBox04
  %h2.ttl 今すぐ始めよう的な文言
  %ul.snsList
    %li.item
      %a.twBtn{href: "/auth/twitter"} Twitterでログイン
    %li.item
      %a.fbBtn{href: "/auth/facebook"} Facebookでログイン
%footer.footer
  %ul.ftList
    %li.item
      %a.ftLink{href: ""} 免責事項とか
    %li.item
      %a.ftLink{href: ""} リンクとか
    %li.item
      %a.ftLink{href: ""} いろいろ
    %li.item
      %a.ftLink{href: ""} フッター
  %small.copyright &copy; 2014 Gameful.