= content_for :head do
  = stylesheet_link_tag "pc/login"

%section.LoginTop
  %h2.LoginTop__text--mainCopy たくさんのゲームを、遊んできた。
  %h1.LoginTop__title 
    = image_tag("logo@3x.png", width: "320")
  %p.LoginTop__text--subCopy
    GAMRはゲームライフをより楽しくするSNSです。
  .LoginTop__snsWrap
    %ul.LoginTop__snsList
      %li.LoginTop__snsItem
        %a.LoginTop__snsLink--tw{href: "/auth/twitter"}
          %span.icon-twitter Twitterでログイン
      %li.LoginTop__snsItem
        %a.LoginTop__snsLink--fb{href: "/auth/facebook"}
          %span.icon-facebook Facebookでログイン
      %li.LoginTop__snsItem
        %a.LoginTop__snsLink--gamr{href: ""}
          %span.icon-gamr GAMR IDでログイン
%section.LoginPoints
  %h1.LoginPoints__title GAMRの使い方
  %section.LoginPoints__item
    %h2.LoginPoints__itemTitle ゲームを記録
    = image_tag("login_illust_01@2x.png", width: "50%")
    %p.LoginPoints__itemText 気になるゲームや遊んだゲームをマイゲームに登録することで、自分だけのオリジナルカタログ（のようなもの）が出来上がります。
    %p.LoginPoints__itemAnnotation
      遊んできたゲームを見返したり、友達に共有することで、新たな発見があるかもしれません。
  %section.LoginPoints__item
    %h2.LoginPoints__itemTitle 瞬間をシェア
    = image_tag("login_illust_02@2x.png", width: "50%")
    %p.LoginPoints__itemText 登録したゲームに対して、コメントを付与して何度でもポストする事ができます。
    %p.LoginPoints__itemAnnotation
      ゲームを遊んでいる時って、感想をシェアしたくなる瞬間が何度も訪れたりしませんか？
  %section.LoginPoints__item
    %h2.LoginPoints__itemTitle 感想を調べる
    = image_tag("login_illust_03@2x.png", width: "50%")
    %p.LoginPoints__itemText 気になるゲームを見つけたら、他のユーザーのコメントや、Tipsを見てみましょう。
    %p.LoginPoints__itemAnnotation あなたが遊ぶべきゲームは、あなたの友達が知っているかもしれません。
%section.LoginBottom
  %h1.LoginBottom__title ゲームを本気で楽しもう。
  %ul.LoginBottom__snsList
    %li.LoginBottom__snsItem
      %a.LoginTop__snsLink--tw{href: "/auth/twitter"}
        %span.icon-twitter Twitterでログイン
    %li.LoginBottom__snsItem
      %a.LoginTop__snsLink--fb{href: "/auth/facebook"}
        %span.icon-facebook Facebookでログイン
    %li.LoginBottom__snsItem
      %a.LoginTop__snsLink--gamr{href: ""}
        %span.icon-gamr GAMRのIDでログイン
        
= render partial: "application/pc/footer"
