= content_for :head do
  = stylesheet_link_tag "pc/login"

%section.LoginTop
  %h2.LoginTop__text--mainCopy たくさんのゲームを、遊んできた。
  %h1.LoginTop__title 
    = image_tag("logo@3x.png", width: "320")
  %p.LoginTop__text--subCopy
    GAMRはゲームライフをより楽しくするSNSです。
  .LoginTop__snsWrap
    %ul.LoginTop__snsList
      %li.LoginTop__snsItem
        %a.LoginTop__snsLink--tw{href: "/auth/twitter"}
          %span.icon-twitter Twitterでログイン
      %li.LoginTop__snsItem
        %a.LoginTop__snsLink--fb{href: "/auth/facebook"}
          %span.icon-facebook Facebookでログイン
      %li.LoginTop__snsItem
        %a.LoginTop__snsLink--gamr{href: ""}
          %span.icon-gamr GAMR IDでログイン
%section.points
  %h1.pointsTtl GAMRの使い方
  %section.pointsItem
    %h2.pointsItemTtl ゲームを記録
    = image_tag("login_illust_01@2x.png", width: "50%")
    %p.pointsItemText 気になるゲームや遊んだゲームをマイゲームに登録することで、自分だけのオリジナルカタログ（のようなもの）が出来上がります。
    %p.pointsItemAnnotation
      遊んできたゲームを見返したり、友達に共有することで、新たな発見があるかもしれません。
  %section.pointsItem
    %h2.pointsItemTtl 瞬間をシェア
    = image_tag("login_illust_02@2x.png", width: "50%")
    %p.pointsItemText 登録したゲームに対して、コメントを付与して何度でもポストする事ができます。
    %p.pointsItemAnnotation
      ゲームを遊んでいる時って、感想をシェアしたくなる瞬間が何度も訪れたりしませんか？
  %section.pointsItem
    %h2.pointsItemTtl 感想を調べる
    = image_tag("login_illust_03@2x.png", width: "50%")
    %p.pointsItemText 気になるゲームを見つけたら、他のユーザーのコメントや、Tipsを見てみましょう。
    %p.pointsItemAnnotation あなたが遊ぶべきゲームは、あなたの友達が知っているかもしれません。
%section.bottomBox
  %h1.bottomBoxTtl ゲームを本気で楽しもう。
  %ul.snsList
    %li.item
      %a.tw{href: "/auth/twitter"}
        %span.icon-twitter Twitterでログイン
    %li.item
      %a.fb{href: "/auth/facebook"}
        %span.icon-facebook Facebookでログイン
    %li.item
      %a.gamr{href: ""}
        %span.icon-gamr GAMRのIDでログイン
        
= render partial: "application/pc/footer"
