= content_for :head do
  = stylesheet_link_tag "smart_phone/login"

%section.mainVisual
  %h1.ttl 
    = image_tag("logo@2x.png", width:"120" )
  %h2.mainCopy 
    ゲームの楽しみ方は
    %br
    もっとある。
  %p.subCopy
    GAMRはゲームライフをより楽しくするSNSです。
  %section.loginBox
    %ul.snsList
      %li.item
        %a.tw{href: "/auth/twitter"}
          %span.icon-twitter Twitterでログイン
      %li.item
        %a.fb{href: "/auth/facebook"}
          %span.icon-facebook Facebookでログイン
      %li.item
        %a.gamr SNS使ってねーよログイン
%section.pointsTtl GAMRのつかいかた
%section.points
  %section.first
    %h1 ゲームを記録
    = image_tag("login_illust_01@2x.png", width: "160")
    %p 気になるゲームや遊んだゲームをマイゲームに登録することで、自分だけのオリジナルカタログ（のようなもの）が出来上がります。
    %p.annotation
      遊んできたゲームを見返したり、友達に共有することで、新たな発見があるかもしれません。
  %section.second
    %h1 瞬間をシェア
    = image_tag("login_illust_02@2x.png", width: "160")
    %p 登録したゲームに対して、コメントを付与して何度でもポストする事ができます。
    %p.annotation
      ゲームを遊んでいる時って、感想をシェアしたくなる瞬間が何度も訪れたりしませんか？
  %section.third
    %h1 感想を調べる
    = image_tag("login_illust_03@2x.png", width: "160")
    %p 気になるゲームを見つけたら、他のユーザーのコメントや、Tipsを見てみましょう。
    %p.annotation あなたが遊ぶべきゲームは、あなたの友達が知っているかもしれません。
%section.bottomBox
  %h1 ゲームをもっと楽しもう。
  %ul.snsList
    %li.item
      %a.tw{href: "/auth/twitter"}
        %span.icon-twitter Twitterでログイン
    %li.item
      %a.fb{href: "/auth/facebook"}
        %span.icon-facebook Facebookでログイン
    %li.item
      %a.gamr
        %span SNS使ってねーよログイン
%footer © GAMR ALL RIGHTS RESERVED.