= content_for :head do
  = stylesheet_link_tag    "smart_phone/search"

= content_for :last do
  = javascript_include_tag "main/smart_phone/search"

= render partial: "application/smart_phone/default_header"

.search-page


= render partial: "application/underscore/smart_phone/common/follow_btn"
= render partial: "application/underscore/smart_phone/common/unfollow_btn"

= render partial: "application/underscore/smart_phone/search/game_search"
= render partial: "application/underscore/smart_phone/search/user_search"

= render partial: "application/underscore/smart_phone/common/game_result"
= render partial: "application/underscore/smart_phone/common/user_result"

= render partial: "application/underscore/smart_phone/common/user_activity"

= render partial: "application/underscore/smart_phone/search/result_text"
