= content_for :head do
  = stylesheet_link_tag    "pc/setting"

= content_for :last do
  = javascript_include_tag "main/pc/setting"


.setting-page



= render partial: "application/underscore/pc/common/follow_btn"
= render partial: "application/underscore/pc/common/unfollow_btn"

= render partial: "application/underscore/pc/setting/first"
= render partial: "application/underscore/pc/common/game_result"

= render partial: "application/underscore/pc/setting/second"
= render partial: "application/underscore/pc/common/user_result"

= render partial: "application/underscore/pc/setting/third"