= content_for :head do
  = stylesheet_link_tag    "smart_phone/setting"
  = javascript_include_tag "views/smart_phone/setting"

%header
  %h1.ttlWrap
    %a.ttl{href: ""} Playdy
  %span.menuWrap
    %span.menu{href: ""}
  %span.notify{href: ""}
  %span.profile{href: ""}
  .overlayer

.setting-page

= render partial: "application/underscore/smart_phone/setting/first"
= render partial: "application/underscore/smart_phone/setting/result"

= render partial: "application/underscore/smart_phone/setting/second"
= render partial: "application/underscore/smart_phone/setting/user"

= render partial: "application/underscore/smart_phone/setting/third"


