= content_for :head do
  = stylesheet_link_tag    "smart_phone/setting"

= content_for :last do
  = javascript_include_tag "main/smart_phone/setting"

%header.settingHeader
  .title GAMR

.setting-page

= render partial: "application/underscore/smart_phone/common/follow_btn"
= render partial: "application/underscore/smart_phone/common/unfollow_btn"

= render partial: "application/underscore/smart_phone/setting/first"
= render partial: "application/underscore/smart_phone/common/game_result"

= render partial: "application/underscore/smart_phone/setting/second"
= render partial: "application/underscore/smart_phone/common/user_result"

= render partial: "application/underscore/smart_phone/setting/third"


