= content_for :head do
  = javascript_include_tag "smart_phone/setting.js"

%header
  %h1.ttlWrap
    %a.ttl{href: ""} Playdy
  %span.menu{href: ""}
  %span.notify{href: ""}
  %span.profile{href: ""}
  %ul.openMenu
    %li.item
      %a.menuItem{href: ""} 登録しているゲーム
    %li.item
      %a.menuItem{href: ""} 通知
    %li.item
      %a.menuItem{href: ""} アカウント設定
    %li.item
      %a.menuItem{href: ""} Playdyとは
    %li.item
      %a.menuItem{href: ""} ログアウト
  .overlayer

.setting-page

= render partial: "application/underscore/smart_phone/setting/first"
= render partial: "application/underscore/smart_phone/setting/result"

= render partial: "application/underscore/smart_phone/setting/second"
= render partial: "application/underscore/smart_phone/setting/user"

= render partial: "application/underscore/smart_phone/setting/third"


