= content_for :head do
  = javascript_include_tag "smart_phone/profile.js"

= render partial: "application/default_header"

.profile-page.mainCnt{"data-userid" => @user[:id]}
  .personalBoxWrap
    .bgOverlayer
      %figure.profImgWrap
        = image_tag "/user_photos/#{@user[:photo_path]}", height: 54, class: "profImg"
      %section.personalBox
        %h1.name
          = @user.username
        - if @user.place
          %p.place
            %span.town
              = @user.place
        %p.text
          = @user.introduction
        - unless current_user?(@user)
          %span.follow-wrap
            - if @user.i_followed
              %span.followBtn.unfollow フォローを外す
            - else
              %span.followBtn.follow フォロー
        - else
          = link_to "編集", edit_user_path(@user), class: "edit-btn personalEdit"
          = link_to "フォロー", "/logs#edit", class: "edit-btn followBtn"
        %ul.countBox
          %li.item.current
            %a.gameNum{href: ""}
              %span.count
                = @user.logs.count
              ライブラリ
          %li.item
            %a.postNum{href: ""}
              %span.count
                = @user.posts.count
              チェックイン
          %li.item
            %a.followNum{href: ""}
              %span.count
                = @user.follow_num
              フォロー
          %li.item
            %a.followerNum{href: ""}
              %span.count
                = @user.follower_num
              フォロワー

  .gameBox
    %ul.sortBox
      %li.item.ready-li.current
        %span.ready 気になる
      %li.item.playing-li
        %span.playing プレイ中
      %li.item.played-li
        %span.played クリア済
    %form.searchBox
      %input{input: "text", placeholder: "ゲーム名で検索", role: "textarea", class: "search-log"}
    %ul.gameList.log-list

= render partial: "application/underscore/smart_phone/profile/log"
= render partial: "application/underscore/smart_phone/profile/follow"
= render partial: "application/underscore/smart_phone/profile/unfollow"




