= content_for :head do
  = stylesheet_link_tag    "pc/profile"

= content_for :last do
  = javascript_include_tag "main/pc/profile"


= render partial: "application/pc/default_header"

%section.mainContent.profile-page{"data-userid" => @user[:id]}
  .profileBox
    .profileBoxInner
      %figure.profImgWrap
        = image_tag "/user_photos/#{@user[:photo_path]}", class: "profImg", width: 135, hieght: 135, alt: "ユーザー画像"
    .countListWrap
      %ul.countList.count-box
        %li.gameNum.logs-li.current
          %a.countListLink{href: "/users/#{@user[:id]}#logs"}
            ライブラリ
            %span.count
              = @user.logs.count
        %li.postNum.posts-li
          %a.countListLink{href: "/users/#{@user[:id]}#posts"}
            ポスト
            %span.count
              = @user.posts.count
        %li.followNum.follows-li
          %a.countListLink{href: "/users/#{@user[:id]}#follows"}
            フォロー
            %span.count
              = @user.follow_num
        %li.followerNum.followers-li
          %a.countListLink{href: "/users/#{@user[:id]}#followers"}
            フォロワー
            %span.count
              = @user.follower_num
      - unless current_user?(@user)
        %span.follow-wrap
          - if @user.i_followed
            %span.followBtn.main-unfollow-btn.unFollow フォロー中
          - else
            %span.followBtn.main-follow-btn フォローする
  .profileColumnWrap
    .profileLeftColumn
      %h1.userName
        = @user.username
      - if @user.place
        %p.userPlace
          = @user.place
      %p.userInfo
        = @user.introduction
    .profileRightColumn.profile-timeline



= render partial: "application/pc/footer"


= render partial: "application/underscore/pc/common/follow_btn"
= render partial: "application/underscore/pc/common/unfollow_btn"

= render partial: "application/underscore/pc/profile/main_follow_btn"
= render partial: "application/underscore/pc/profile/main_unfollow_btn"

= render partial: "application/underscore/pc/profile/log_list"
= render partial: "application/underscore/pc/common/log"

= render partial: "application/underscore/pc/profile/post_list"
= render partial: "application/underscore/pc/common/post"

= render partial: "application/underscore/pc/profile/follows_list"
= render partial: "application/underscore/pc/profile/followers_list"
= render partial: "application/underscore/pc/common/user"

= render partial: "application/underscore/pc/common/delete_confirm"

