= content_for :head do
  = javascript_include_tag "profile.js"

%header
  %h1.ttlWrap
    = link_to "Playdy", posts_path, class: "ttl"
  %span.menu{href: ""}
  %span.serch{href: ""}
  %span.profile{href: ""}
  %ul.openMenu
    %li.item
      %a.menuItem{href: ""} 登録しているゲーム
    %li.item
      %a.menuItem{href: ""} 通知
    %li.item
      = link_to "アカウント設定", user_path(@current_user), class: "menuItem"
    %li.item
      %a.menuItem{href: ""} Playdyとは
    %li.item
      = link_to "ログアウト", logout_users_path, class: "menuItem"

.profile-page{"data-userid" => @user[:id]}
  .personalBoxWrap
    %figure.profImgWrap
      = image_tag "/user_photos/#{@user[:photo_path]}", height: 83, class: "profImg"
    %section.personalBox
      %h1.name
        = @user.username
      %p.place
        %span.town Tokyo
        %span.country Japan
      %p.text
        = @user.introduction
      - unless current_user?(@user)
        %span.follow-wrap
          - if @user.i_followed
            %span.followBtn.unfollow フォローを外す
          - else
            %span.followBtn.follow フォロー
      %ul.countBox
        %li.item
          %a.follow{href: ""}
            %span.count 12
            フォロー
        %li.item
          %a.follower{href: ""}
            %span.count 34
            フォロワー
        %li.item
          %a.gameNum{href: ""}
            %span.count
              = @user.logs.count
            ゲーム数
        %li.item
          %a.postNum{href: ""}
            %span.count
              = @user.posts.count
            ポスト数

  .gameBox
    %ul.sortBox
      %li.item.current.playing-li
        %span.playing プレイ中
      %li.item.ready-li
        %span.ready 気になる
      %li.item.played-li
        %span.played アーカイブ
    %form.searchBox
      %input{input: "text", placeholder: "search", role: "textarea"}
    %ul.gameList.log-list

%script{type: "text/template", id: "log-template"}
  <a href="/games/<%= game.id %>" style="display: block;" class="articleWrap">
  <article class="game">
  <img class="gameImg" src=<%- game.photo_path %> />
  <h1 class="ttl"><%- game.title %></h1>
  <ul class="stars">
  <li class="star"></li>
  <li class="star"></li>
  <li class="star"></li>
  <li class="star"></li>
  </ul>
  </article>
  </a>

%script{type: "text/template", id: "follow-template"}
  <span class="followBtn follow">フォロー</span>

%script{type: "text/template", id: "unfollow-template"}
  <span class="followBtn unfollow">フォローを外す</span>

