= content_for :head do
  = javascript_include_tag "profile.js"

.profile-page{"data-userid" => @user[:id]}
  .personalBoxWrap
    %section.personalBox
      %h1.name
        = @user.username
      %p.place
        %span.town Tokyo
        %span.country Japan
      %p.text
        = @user.introduction
      %figure.profImgWrap
        = image_tag("/user_photos/asuya02.jpg", height: 83, class: "profImg")
      %a.option{href: ""}

  .funcBox
    %ul.countBox
      %li.item
        %a.follow{href: ""}
          %span.count 12
          フォロー
      %li.item
        %a.follower{href: ""}
          %span.count 34
          フォロワー
      %li.item
        %a.gameNum{href: ""}
          %span.count
            = @user.logs.count
          ゲーム数
      %li.item
        %a.postNum{href: ""}
          %span.count
            = @user.posts.count
          ポスト数
    %ul.sortBox
      %li.item.current.playing-li
        %span.playing プレイ中
      %li.item.ready-li
        %span.ready 気になる
      %li.item.played-li
        %span.played アーカイブ

  .gameBox
    %form.searchBox
      %input{input: "text", placeholder: "search", role: "textarea"}
    %ul.gameList.log-list

%script{type: "text/template", id: "log-template"}
  <a href="/games/<%= game.id %>" style="display: block;" class="articleWrap">
  <article class="game">
  <img class="gameImg" src=<%- game.photo_path %> />
  <h1 class="ttl"><%- game.title %></h1>
  <ul class="stars">
  <li class="star"></li>
  <li class="star"></li>
  <li class="star"></li>
  <li class="star"></li>
  </ul>
  </article>
  </a>

