= content_for :head do
  = stylesheet_link_tag    "smart_phone/profile"

= content_for :last do
  = javascript_include_tag "main/smart_phone/profile"

= render partial: "application/smart_phone/default_header"

.profile-page.mainCnt{"data-userid" => @user[:id]}
  .personalBoxWrap
    .bgOverlayer
      %figure.profImgWrap
        = image_tag "/user_photos/#{@user[:photo_path]}", class: "profImg"
      %section.personalBox
        %h1.name
          = @user.username
        - unless @user.place.blank?
          %p.place.icon-place
            = @user.place
        %p.text
          = @user.introduction
        - unless current_user?(@user)
          %span.follow-wrap
            - if @user.i_followed
              %span.followBtn.main-unfollow-btn.unFollow フォロー中
            - else
              %span.followBtn.main-follow-btn フォローする
        - else
          = link_to "編集", edit_user_path(@user), class: "edit-btn personalEdit"
        %ul.countBox.count-box
          %li.item.posts-li
            %a.postNum{href: "/users/#{@user[:id]}#posts"}
              %span.count
                = @user.posts.count
              ポスト
          %li.item.follows-li
            %a.followNum{href: "/users/#{@user[:id]}#follows"}
              %span.count
                = @user.follow_num
              フォロー
          %li.item.followers-li
            %a.followerNum{href: "/users/#{@user[:id]}#followers"}
              %span.count
                = @user.follower_num
              フォロワー
      .myGameBox
        %a.gameNum{href: "/users/#{@user[:id]}#logs"}
          マイゲーム
          %p.myGameCount
            = @user.logs.count

  .profile-timeline

= render partial: "application/underscore/smart_phone/common/follow_btn"
= render partial: "application/underscore/smart_phone/common/unfollow_btn"

= render partial: "application/underscore/smart_phone/profile/main_follow_btn"
= render partial: "application/underscore/smart_phone/profile/main_unfollow_btn"

= render partial: "application/underscore/smart_phone/profile/log_list"
= render partial: "application/underscore/smart_phone/common/log"

= render partial: "application/underscore/smart_phone/profile/post_list"
= render partial: "application/underscore/smart_phone/common/post"

= render partial: "application/underscore/smart_phone/profile/follows_list"
= render partial: "application/underscore/smart_phone/profile/followers_list"
= render partial: "application/underscore/smart_phone/common/user"

= render partial: "application/underscore/smart_phone/common/delete_confirm"





