= content_for :head do
  = stylesheet_link_tag    "pc/profile"

= content_for :last do
  = javascript_include_tag "main/pc/profile"


= render partial: "application/pc/default_header"

%section.mainContent.profile-page{"data-userid" => @user[:id]}
  .Profile
    .ProfileTop
      %figure.ProfileTop__imgWrap
        = image_tag "/user_photos/#{@user[:photo_path]}", class: "ProfileTop__img", width: 135, hieght: 135, alt: "ユーザー画像"
    .ProfileCount
      %ul.ProfileCount__list.count-box
        %li.ProfileCount__item.current.logs-li
          %a.ProfileCount__link{href: "/users/#{@user[:id]}#logs"}
            マイゲーム
            %span.ProfileCount__count
              = @user.logs.count
        %li.ProfileCount__item.posts-li
          %a.ProfileCount__link{href: "/users/#{@user[:id]}#posts"}
            ポスト
            %span.ProfileCount__count
              = @user.posts.count
        %li.ProfileCount__item.follows-li
          %a.ProfileCount__link{href: "/users/#{@user[:id]}#follows"}
            フォロー
            %span.ProfileCount__count
              = @user.follow_num
        %li.ProfileCount__item.followers-li
          %a.ProfileCount__link{href: "/users/#{@user[:id]}#followers"}
            フォロワー
            %span.ProfileCount__count
              = @user.follower_num
      - unless current_user?(@user)
        %span.ProfileFollow.follow-wrap
          - if @user.i_followed
            %span.ProfileFollow__button.main-unfollow-btn.unFollow フォロー中
          - else
            %span.ProfileFollow__button.main-follow-btn フォローする
  .Profile__columnWrap
    .ProfileLeft
      %h1.ProfileLeft__name
        = @user.username
      - if @user.place
        %p.ProfileLeft__place
          = @user.place
      %p.ProfileLeft__introduction
        = @user.introduction
      %form.ProfileLeft__searchWrap
        %input.ProfileLeft__search.search-log{placeholder: "マイゲーム内を検索"}
    .ProfileRight.profile-timeline



= render partial: "application/pc/footer"


= render partial: "application/underscore/pc/common/follow_btn"
= render partial: "application/underscore/pc/common/unfollow_btn"

= render partial: "application/underscore/pc/profile/main_follow_btn"
= render partial: "application/underscore/pc/profile/main_unfollow_btn"

= render partial: "application/underscore/pc/profile/log_list"
= render partial: "application/underscore/pc/common/log"

= render partial: "application/underscore/pc/profile/post_list"
= render partial: "application/underscore/pc/common/post"

= render partial: "application/underscore/pc/profile/follows_list"
= render partial: "application/underscore/pc/profile/followers_list"
= render partial: "application/underscore/pc/common/user"

= render partial: "application/underscore/pc/common/delete_confirm"

