= content_for :head do
  = javascript_include_tag "profile.js"

= debug @user
= @user.i_followed

.profile-page{"data-userid" => @user[:id]}
  .gameBox
    %form.searchBox
      %input{input: "text", placeholder: "search", role: "textarea"}
    %ul.gameList.log-list

  - unless current_user?(@user)
    %span.follow-wrap
      - if @user.i_followed
        %span.followBtn.unfollow フォローを外す
      - else
        %span.followBtn.follow フォロー

  - if current_user?(@user)
    = link_to "ユーザー情報の編集", edit_user_path(@user)
    = link_to "ログ情報の編集", logs_path

%script{type: "text/template", id: "log-template"}
  <a href="/games/<%= game.id %>" style="display: block;" class="articleWrap">
  <article class="game">
  <img class="gameImg" src=<%- game.photo_path %> />
  <h1 class="ttl"><%- game.title %></h1>
  <ul class="stars">
  <li class="star"></li>
  <li class="star"></li>
  <li class="star"></li>
  <li class="star"></li>
  </ul>
  </article>
  </a>

%script{type: "text/template", id: "follow-template"}
  <span class="followBtn follow">フォロー</span>

%script{type: "text/template", id: "unfollow-template"}
  <span class="followBtn unfollow">フォローを外す</span>