= content_for :head do
  = stylesheet_link_tag    "pc/reviews"

= content_for :last do
  = javascript_include_tag "main/pc/reviews"

= render partial: "application/pc/default_header"




= render partial: "application/pc/footer"