= content_for :head do
  = stylesheet_link_tag    "pc/game"

= content_for :last do
  = javascript_include_tag "main/pc/game"

= render partial: "application/pc/default_header"

%section.mainContent.game-page{"data-gameid" => @game[:id]}
  .gameBox
    .gameBoxInner
      %h1.gameTtl
        = @game.title
      %figure.gameImgWrap
        /= image_tag "/game_photos/#{@game.photo_path}", width: 195, class: "gameImg", alt: "ゲームパッケージ画像"
        - if @game.photo_url
          = image_tag @game.photo_url, width: 195, class: "gameImg", alt: "ゲームパッケージ画像"
        - else
          = image_tag "/game_photos/default.png", width: 195, class: "gameImg", alt: "ゲームパッケージ画像"
      .gameInfoBox
        %ul.gameInfoList
          %li.item
            %span.gameInfoListItemInner メーカー
            = @game.maker
          /%li.item
          /  ジャンル：ほげほげ
          %li.item
            %span.gameInfoListItemInner ハード
            = @game.device
          %li.item
            %span.gameInfoListItemInner リリース日
            = @game.release_day
        %a.amazonBtn{href: ""} Amazonで見る
        .reviewBox
          %ul.starList
            - diff = 5 - @game.avg_rate.to_i
            - @game.avg_rate.to_i.times do |i|
              %li.starOn ★
            - diff.times do |i|
              %li.starOff ☆
          %p.value
            = @game.avg_rate
        = render partial: "select_btns", locals: {game: @game}
      %section.sortBox
        %h3.sortTtl このゲームに対するポスト
        %ul.sortList.sort-list
          %li.item.current.follower-posts
            %a.follow{href: "/games/#{@game[:id]}#follower"} フォロー中のユーザー
          %li.item.all-posts
            %a.all{href: "/games/#{@game[:id]}#all"} すべてのユーザー
          %li.item.liker-posts
            %a.star{href: "/games/#{@game[:id]}#liker"} いいね順

  .game-timeline
    .post-list
    = image_tag "gif-load.gif", class: "loading-gif"



= render partial: "application/pc/footer"

= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/common/post"

