= content_for :head do
  = stylesheet_link_tag    "pc/game"

= content_for :last do
  = javascript_include_tag "main/pc/game"

= render partial: "application/pc/default_header"

%section.mainContent.game-page{"data-gameid" => @game[:id]}
  .titleWrap
    %h1.gameTtl
      = @game[:title]
    %h2.maker
      %span by
      %span
        = @game[:maker]
  .contentWrap
    .gameWrap
      %a.gameImgWrap
        = image_tag "/game_photos/default.png", width: 240, class: "gameImg", alt: "ゲームパッケージ画像"
      .source
        - case @game.provider
        - when "famituu"
          %a{href: @game.provider_url, target: "blank"} 出典：ファミ通
        - when "steam"
          %a{href: @game.provider_url, target: "blank"} 出典：STEAM
      - unless @current_user[:id].nil?
        %ul.gameBtnList
          %li.item.status-li
        %span.delete-log-btn.deleteBtn マイゲームから削除
      .gameInfo
        %ul.gameCap
          %li.device
            = @game.device
          %li.releaseDay
            = @game.formated_release_day
          %li.gameTag
            - @game.gametags.each do |gametag|
              %span.gametag
                = gametag.name
      %ul.linkList
        - @game.game_urls.each_with_index do |url, index|
          - if index == 0
            %li
              = link_to "公式サイト", url.text, target: "blank", class: "officialLink"
          - else
            %li
              = link_to "公式サイト(#{index + 1})", url.text, target: "blank", class: "officialLink"
        %li
          %a.youtubeLink{href: "https://www.youtube.com/results?search_query=#{@game.title}", target: "blank"} Youtube

    .archiveWrap
      %ul.archiveNav
        %li.post-list-li みんなのつぶやき
        %li.review-list-li.current みんなのレビュー
      .reviewWrap.review-wrap.hide
        %form.writeReview
          %h2 ゲームタイトルゲームタイトルのレビューを書く
          %ul.reviewList
            %li.listItem
              .starReview
                %h3 ★評価
                .selectWrap
                  %select
                    %option{value: ""} 評価しない
                    %option{value: "1"} ★☆☆☆☆
                    %option{value: "2"} ★★☆☆☆
                    %option{value: "3"} ★★★☆☆
                    %option{value: "4"} ★★★★☆
                    %option{value: "4"} ★★★★★
            %li.listItem
              .textReview
                %h3 レビュー・感想
                %textarea
          %ul.snsBtn
            - @current_user.user_providers.each do |provider|
              - if provider[:service_name] == "twitter"
                %li
                  %label.checkbox
                    = check_box_tag "twitter", true, false, {class: "twitter-checkbox"}
                    .checkbox__checkmark
                    twitterに投稿
              - if provider[:service_name] == "facebook"
                %li
                  %label.checkbox
                    = check_box_tag "facebook", true, false, {class: "facebook-checkbox"}
                    .checkbox__checkmark
                    facebookに投稿
          .reviewBtn 投稿する
        .review-timeline
          .review-list
            .reviewBox
              .reviewHeader
                %a.reviewHeaderLink{href: "##userProfile##"}
                  %img.profileImage{width: 30, src: "/user_photos/default.png"}
                  %span.userName username
                  %span.starBox ★★★☆☆ 3
              .postBody
                .postText レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。レビュー本文。
                .postMeta
                  .postTime.icon-time 投稿時間
                  %a.readMore{href: "##reviewDetail##"} もっと見る
                .postFooter
                  %ul.actionList
                    %li
                      %span.like-btn.favBtn.icon-like
                        %span.likeCnt
                    %li
                      %span.icon-option.delete-btn
      .postWrap.post-wrap
        %section.sortBox
          %ul.sortList.sort-list
            %li.item.current.follower-posts
              %a.follow{href: "/games/#{@game[:id]}#follower"} フォロー中のユーザー
            %li.item.all-posts
              %a.all{href: "/games/#{@game[:id]}#all"} すべてのユーザー
            %li.item.liker-posts
              %a.star{href: "/games/#{@game[:id]}#liker"} いいね順

        .game-timeline
          .post-list
          = image_tag "gif-load.gif", class: "loading-gif"


= render partial: "application/underscore/pc/common/flash"
= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/common/post_activity"
= render partial: "application/underscore/pc/game/review_select"
= render partial: "application/underscore/pc/game/status_select"

