= content_for :head do
  = stylesheet_link_tag    "pc/game"

= content_for :last do
  = javascript_include_tag "main/pc/game"

= render partial: "application/pc/default_header"

%section.mainContent.game-page{"data-gameid" => @game[:id]}
  .titleWrap
    %h1.gameTtl
      = @game[:title]
    %h2.maker
      %span by
      %span
        = @game[:maker]
  .contentWrap
    .gameWrap
      - url    = @game.amazon_url ? @game.amazon_url : ""
      - target = @game.amazon_url ? "blank" : ""
      %a.gameImgWrap{href: url, target: target}
        - if @game.photo_path
          = image_tag "/game_photos/#{@game.photo_path}", width: 240, class: "gameImg", alt: "ゲームパッケージ画像"
        - elsif @game.photo_url
          = image_tag @game.photo_url, width: 240, class: "gameImg", alt: "ゲームパッケージ画像"
        - else
          = image_tag "/game_photos/default.png", width: 240, class: "gameImg", alt: "ゲームパッケージ画像"

      .source
        - case @game.provider
        - when "famituu"
          %a{href: @game.provider_url, target: "blank"} 出典：ファミ通
        - when "steam"
          %a{href: @game.provider_url, target: "blank"} 出典：STEAM
      - unless @current_user[:id].nil?
        %ul.gameBtnList
          %li.item.status-li
          %li.item.review-li

        %span.delete-log-btn.deleteBtn マイゲームから削除


      %ul.gameInfoList
        %li.item.hard
          .itemName ハード：
          .itemContent
            = @game.device
        %li.item.maker
          .itemName メーカー：
          .itemContent
            = @game.maker
        %li.item.category
          .itemName ジャンル：
          .itemContent
            - @game.gametags.each do |gametag|
              %span.gametag
                = gametag.name
        %li.item.releaseDay
          .itemName 発売日：
          .itemContent
            = @game.formated_release_day
        %li.item.avgReview
          .itemName 全体評価：
          .itemContent
            %ul.starList
              - diff = 5 - @game.avg_rate.to_i
              - @game.avg_rate.to_i.times do |i|
                %li.starOn.icon-star
              - diff.times do |i|
                %li.starOff.icon-star

      / .gameInfo
      /   %ul.gameCap
      /     %li.device
      /       = @game.device
      /     %li.releaseDay
      /       = @game.formated_release_day
      /     %li.gameTag
      /       - @game.gametags.each do |gametag|
      /         %span.gametag
      /           = gametag.name
      - if @game.wiki && @game.wiki != "0"
        .gameSummary
          %label{for: "summary"} 概要
          %input.expand{type: "checkbox", id: "summary"}
          %p
            = @game.wiki
      %ul.linkList
        - @game.game_urls.each_with_index do |url, index|
          - if index == 0
            %li
              = link_to "公式サイト", url.text, target: "blank", class: "officialLink"
          - else
            %li
              = link_to "公式サイト(#{index + 1})", url.text, target: "blank", class: "officialLink"
        %li
          %a.youtubeLink{href: "https://www.youtube.com/results?search_query=#{@game.title}", target: "blank"} Youtube

    .archiveWrap
      %ul.archiveNav
        %li.post-list-li.current みんなのつぶやき
        %li.review-list-li みんなのレビュー
      .reviewWrap.review-wrap.hide
        %form.writeReview
          %h2 ゲームタイトルゲームタイトルのレビューを書く
          %ul.reviewList
            %li.listItem
              .starReview
                %h3 ★評価
                .selectWrap
                  %select
                    %option{value: ""} 評価しない
                    %option{value: "1"} ★☆☆☆☆
                    %option{value: "2"} ★★☆☆☆
                    %option{value: "3"} ★★★☆☆
                    %option{value: "4"} ★★★★☆
                    %option{value: "4"} ★★★★★
            %li.listItem
              .textReview
                %h3 レビュー・感想
                %textarea
          %ul.snsBtn
            - @current_user.user_providers.each do |provider|
              - if provider[:service_name] == "twitter"
                %li
                  %label.checkbox
                    = check_box_tag "twitter", true, false, {class: "twitter-checkbox"}
                    .checkbox__checkmark
                    twitterに投稿
              - if provider[:service_name] == "facebook"
                %li
                  %label.checkbox
                    = check_box_tag "facebook", true, false, {class: "facebook-checkbox"}
                    .checkbox__checkmark
                    facebookに投稿
          .reviewBtn 投稿する
        .review-timeline
          .review-list

      .postWrap.post-wrap
        %section.sortBox
          %ul.sortList.sort-list
            %li.item.current.follower-posts
              %a.follow{href: "/games/#{@game[:id]}#follower"} フォロー中のユーザー
            %li.item.all-posts
              %a.all{href: "/games/#{@game[:id]}#all"} すべてのユーザー
            %li.item.liker-posts
              %a.star{href: "/games/#{@game[:id]}#liker"} いいね順

        .game-timeline
          .post-list
          = image_tag "gif-load.gif", class: "loading-gif"


= render partial: "application/underscore/pc/common/flash"
= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/common/post_activity"
= render partial: "application/underscore/pc/game/review_select"
= render partial: "application/underscore/pc/game/status_select"

