= content_for :head do
  = stylesheet_link_tag    "smart_phone/game"

= content_for :last do
  = javascript_include_tag "main/smart_phone/game"

= render partial: "application/smart_phone/default_header"

.game-page.mainCnt{"data-gameid" => @game[:id]}
  .gameBox
    .gameTopBox
      %h1.ttl
        = @game.title
      .gameWrap
        %figure.imgWrap
          /= image_tag "/game_photos/#{@game.photo_path}", height: 120, class: "gameImg"
          - if @game.photo_url
            = image_tag @game.photo_url, width:"100%", class: "gameImg"
          - else
            = image_tag "/game_photos/default.png", width:"100%", class: "gameImg"
        .gameInfoWrap
          %ul.gameInfo
            %li.item.maker
              メーカー
              %p.infoInner
                = @game.maker
            %li.item.hard
              ハード
              %p.infoInner
                = @game.device
            %li.item.releaseDay
              発売日
              %p.infoInner
                = @game.release_day
          %p.review.reviewWrap
            ユーザーの評価
            %br
            %span.reviewInner.icon-star
              = @game.avg_rate
          - if !@game.amazon_url.nil?
            %p
              %a.amazonBtn{href: @game.amazon_url} Amazonへ
    = render partial: "select_btns", locals: {game: @game}
  .boxTtl
    %h2.boxTtl このゲームに対するポスト
  .sortBoxWrap
    %ul.sortBox.sort-box
      %li.item.current.follower-posts
        %a.follow{href: "/games/#{@game[:id]}#follower"} フォロー中
      %li.item.all-posts
        %a.all{href: "/games/#{@game[:id]}#all"} 全てのユーザー
      %li.item.liker-posts
        %a.star{href: "/games/#{@game[:id]}#liker"} いいね！順

  .game-timeline
    .post-list
    = image_tag "gif-load.gif", class: "loading-gif"

    = render partial: "application/smart_phone/comments_modal"


= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/smart_phone/common/post"
= render partial: "application/underscore/smart_phone/common/comment"
