= content_for :head do
  = stylesheet_link_tag    "smart_phone/game"

= content_for :last do
  = javascript_include_tag "main/smart_phone/game"

= render partial: "application/smart_phone/default_header"

.game-page.mainCnt{"data-gameid" => @game[:id]}
  .gameWrap
    %figure.imgWrap
      - url    = @game.amazon_url ? @game.amazon_url : ""
      - target = @game.amazon_url ? "blank" : ""
      %a{href: url, target: target}
        - if @game.photo_path
          = image_tag "/game_photos/#{@game.photo_path}", height: "100%", class: "gameImg"
        - elsif @game.photo_url
          = image_tag @game.photo_url, height:"100%", class: "gameImg"
        - else
          = image_tag "/game_photos/default.png", height:"100%", class: "gameImg"
    .gameInfo
      .source
        - case @game.provider
        - when "famituu"
          %a{href: @game.provider_url, target: "blank"} 出典：ファミ通
        - when "steam"
          %a{href: @game.provider_url, target: "blank"} 出典：STEAM
      %h1.ttl
        = @game.title
      %h2.maker
        %span by
        %span.makerName
          = @game.maker
      %ul.gameCap
        %li.device
          = @game.device
        %li.releaseDay
          = @game.formated_release_day
        %li.gameTag
          - @game.gametags.each do |gametag|
            %span.gametag
              = gametag.name

      - if @game.wiki && @game.wiki != "0"
        .gameSummary
          %label{for: "summary"} 概要
          %input.expand{type: "checkbox", id: "summary"}
          %p
            = @game.wiki

      %ul.linkList
        - @game.game_urls.each_with_index do |url, index|
          - if index == 0
            %li
              = link_to "公式サイト", url.text, target: "blank", class: "officialLink"
          - else
            %li
              = link_to "公式サイト(#{index + 1})", url.text, target: "blank", class: "officialLink"
        %li
          %a.youtubeLink{href: "https://www.youtube.com/results?search_query=#{@game.title}", target: "blank"} Youtube
      - unless @current_user[:id].nil?
        %ul.gameBtnList
          %li.item.review-li
          %li.item.status-li
          %li.item.create-review-btn.createReviewBtn
            = link_to "レビューを書く", new_game_review_path(@game)
        %span.delete-log-btn.deleteBtn マイゲームから削除

    .navigationBoxWrap
      %ul.navigationBox.navigation-box
        %li.item.current.post-timeline
          %a{href: "/games/#{@game[:id]}#all"} つぶやき
        %li.item.review-timeline
          %a{href: "/games/#{@game[:id]}#review"} レビュー

  .sortBoxWrap.sort-box-wrap
    %ul.sortBox.sort-box
      %li.item.current.follower-posts
        %a.follow{href: "/games/#{@game[:id]}#follower"} フォロー中
      %li.item.all-posts
        %a.all{href: "/games/#{@game[:id]}#all"} 全てのユーザー
      %li.item.liker-posts
        %a.star{href: "/games/#{@game[:id]}#liker"} いいね！順

  .game-timeline
    .post-list.review-list
    = image_tag "gif-load.gif", class: "loading-gif"

= render partial: "application/underscore/smart_phone/common/flash"
= render partial: "application/underscore/smart_phone/common/delete_confirm"
= render partial: "application/underscore/smart_phone/common/post"
= render partial: "application/underscore/smart_phone/common/post_activity"
= render partial: "application/underscore/smart_phone/common/review"
= render partial: "application/underscore/smart_phone/common/post_review"
= render partial: "application/underscore/smart_phone/game/review_select"
= render partial: "application/underscore/smart_phone/game/status_select"
