= content_for :head do
  = stylesheet_link_tag    "smart_phone/game"

= content_for :last do
  = javascript_include_tag "main/smart_phone/game"

= render partial: "application/smart_phone/default_header"

.game-page.mainCnt{"data-gameid" => @game[:id]}
  .deleteDialog マイゲームから削除しました
  .statusDialog ステータスを変更しました
  .reviewDialog 評価の値を変更しました
  .gameBox
    .gameWrap
      %figure.imgWrap
        - url = @game.amazon_url ? @game.amazon_url : ""
        %a{href: url, target: "blank"}
          - if @game.photo_path
            = image_tag "/game_photos/#{@game.photo_path}", height: "100%", class: "gameImg"
          - elsif @game.photo_url
            = image_tag @game.photo_url, height:"100%", class: "gameImg"
          - else
            = image_tag "/game_photos/default.png", height:"100%", class: "gameImg"
      .gameInfo
        .source
          - case @game.provider
          - when "famituu"
            %a{href: @game.provider_url, target: "blank"} 出典：ファミ通
          - when "steam"
            %a{href: @game.provider_url, target: "blank"} 出典：STEAM
        %h1.ttl
          = @game.title
        %h2.maker
          %span by 
          %span.makerName
            = @game.maker
        %ul.gameCap
          %li.device
            = @game.device
          %li.releaseDay
            = @game.release_day
          %li.gameTag
            - @game.gametags.each do |gametag|
              %span.gametag
                = gametag.name
        %ul.linkList
          - @game.game_urls.each_with_index do |url, index|
            - if index == 0
              %li
                = link_to "公式サイト", url.text, target: "blank", class: "officialLink"
            - else
              %li
                = link_to "公式サイト(#{index + 1})", url.text, target: "blank", class: "officialLink"
          %li
            %a.youtubeLink{href: "https://www.youtube.com/results?search_query=#{@game.title}", target: "blank"} Youtube
          - if @game.wiki
            .gameSummary
              %label{for: "summary"} 概要
              %input.expand{type: "checkbox", id: "summary"}
              %p
                = @game.wiki
        = render partial: "select_btns", locals: {game: @game}
        - if @game.i_registed
          %span.delete-log-btn.deleteBtn マイゲームから削除
      / .gameInfoWrap
      /   %ul.gameInfo
      /     %li.item.review
      /       .itemName 全体の評価
      /       .itemContent
      /         %ul.starList
      /           - diff = 5 - @game.avg_rate.to_i
      /           - @game.avg_rate.to_i.times do |i|
      /             %li.starOn.icon-star
      /           - diff.times do |i|
      /             %li.starOff.icon-star
      /     %span.value
      /       = @game.avg_rate
      /   %ul.linkBtnWrap
      /     %li
      /       %a.amazonBtn{href: "http://www.amazon.co.jp/s/ref=nb_sb_noss_1?__mk_ja_JP=カタカナ&url=search-alias%3Daps&field-keywords=#{@game.title}", target: "blank"} Amazonで検索
      /     %li
      /       %a.youtubeBtn{href: "https://www.youtube.com/results?search_query=#{@game.title}", target: "blank"} Youtubeで検索
  .boxTtl
    %h2 このゲームに対するポスト#{@game.posts_count}件
  .sortBoxWrap
    %ul.sortBox.sort-box
      %li.item.current.follower-posts
        %a.follow{href: "/games/#{@game[:id]}#follower"} フォロー中
      %li.item.all-posts
        %a.all{href: "/games/#{@game[:id]}#all"} 全てのユーザー
      %li.item.liker-posts
        %a.star{href: "/games/#{@game[:id]}#liker"} いいね！順

  .game-timeline
    .post-list
    = image_tag "gif-load.gif", class: "loading-gif"

= render partial: "application/underscore/smart_phone/common/delete_confirm"
= render partial: "application/underscore/smart_phone/common/post"
= render partial: "application/underscore/smart_phone/common/comment"
= render partial: "application/underscore/smart_phone/common/comment_modal"
