= content_for :head do
  = stylesheet_link_tag    "smart_phone/game"

= content_for :last do
  = javascript_include_tag "main/smart_phone/game"

= render partial: "application/smart_phone/default_header"

.game-page.mainCnt{"data-gameid" => @game[:id]}
  .gameBox
    .gameTopBox
      %figure.gameWrap
        - if !@game.amazon_url.nil?
          %a.gameInner{href: @game.amazon_url}
            = image_tag "/game_photos/#{@game.photo_path}", height: 96, class: "gameImg"
      .gameInfoWrap
        %ul.gameInfo
          %li.item.maker
            = @game.maker
          %li.item.data
            = @game.device
          %li.item.hard
            = @game.device
        %h1.ttl
          = @game.title
        %p.review
          %span.reviewInner ☆
          = @game.avg_rate
        - if !@game.amazon_url.nil?
          %p
            %a.amazonBtn{href: @game.amazon_url} Amazonへ
    %ul.btnList
      - if @game.i_registed
        %li.item
          %select.stars.my_rate{name: "stars", size: 1}
            - case @game.my_rate.to_i
            - when 1
              %option{value: ""} レビュー
              %option{value: 1, selected: "selected"} ★☆☆☆☆
              %option{value: 2} ★★☆☆☆
              %option{value: 3} ★★★☆☆
              %option{value: 4} ★★★★☆
              %option{value: 5} ★★★★★
            - when 2
              %option{value: ""} レビュー
              %option{value: 1} ★☆☆☆☆
              %option{value: 2, selected: "selected"} ★★☆☆☆
              %option{value: 3} ★★★☆☆
              %option{value: 4} ★★★★☆
              %option{value: 5} ★★★★★
            - when 3
              %option{value: ""} レビュー
              %option{value: 1} ★☆☆☆☆
              %option{value: 2} ★★☆☆☆
              %option{value: 3, selected: "selected"} ★★★☆☆
              %option{value: 4} ★★★★☆
              %option{value: 5} ★★★★★
            - when 4
              %option{value: ""} レビュー
              %option{value: 1} ★☆☆☆☆
              %option{value: 2} ★★☆☆☆
              %option{value: 3} ★★★☆☆
              %option{value: 4, selected: "selected"} ★★★★☆
              %option{value: 5} ★★★★★
            - when 5
              %option{value: ""} レビュー
              %option{value: 1} ★☆☆☆☆
              %option{value: 2} ★★☆☆☆
              %option{value: 3} ★★★☆☆
              %option{value: 4} ★★★★☆
              %option{value: 5, selected: "selected"} ★★★★★
            - else
              %option{value: ""} レビュー
              %option{value: 1} ★☆☆☆☆
              %option{value: 2} ★★☆☆☆
              %option{value: 3} ★★★☆☆
              %option{value: 4} ★★★★☆
              %option{value: 5} ★★★★★
      %li.item
        - unless @game.i_registed
          %select.new_status{name: "status", size: "1"}
            %option{value: ""} ステータス
            %option{value: "1"} 気になる
            %option{value: "2"} プレイ中
            %option{value: "3"} クリア済
        - else
          %select.my_status{name: "status", size: "1"}
            - [{value: "", name: "ステータス"}, {value: "1", name: "気になる"}, {value: "2", name: "プレイ中"}, {value: "3", name: "アーカイブ"}].each do |obj|
              - if obj[:value].to_i == @game.my_status_id.to_i
                %option{value: obj[:value], selected: "selected"}
                  = obj[:name]
              - else
                %option{value: obj[:value]}
                  = obj[:name]

  .sortBoxWrap
    %ul.sortBox
      %li.item.current.follower_posts
        %span.follow 友達
      %li.item.all_posts
        %span.all 全て
      %li.item.liker_posts
        %span.star ♥︎

  .post-list

= render partial: "application/underscore/smart_phone/game/post"
