= content_for :head do
  = javascript_include_tag "game.js"

= render partial: "application/default_header"

.game-page.mainCnt{"data-gameid" => @game[:id]}
  .gameBoxWrap
    %figure.gameWrap
      .gameInner
        = image_tag @game.photo_path, width: 78, height: 111, class: "gameImg"
    %section.gameBox
      %h1.ttl
        = @game.title
      %ul.gameInfo
        %li.item
          %span.hard ハード
          = @game.device
        %li.item
          %span.maker メーカー
          = @game.maker
      %ul.btnList
        %li.item
          %a.comment{href: ""} コメントする
        %li.item
          - unless @game.i_registed
            %select.new_status{name: "status", size: "1"}
              %option{value: ""} ステータス
              %option{value: "1"} 気になる
              %option{value: "2"} プレイ中
              %option{value: "3"} アーカイブ
          - else
            %select.my_status{name: "status", size: "1"}
              - [{value: "", name: "ステータス"}, {value: "1", name: "気になる"}, {value: "2", name: "プレイ中"}, {value: "3", name: "アーカイブ"}].each do |obj|
                - if obj[:value].to_i == @game.my_status_id.to_i
                  %option{value: obj[:value], selected: "selected"}
                    = obj[:name]
                - else
                  %option{value: obj[:value]}
                    = obj[:name]

  %ul.dataBox
    %li.item
      %span.count
        = @game.posts_count
      ポスト数
    %li.item
      %ul.stars
        - 4.times do |i|
          %li.star
      全体の評価
    %li.item
      %ul.stars
        - unless @game.my_rate.nil?
          - @game.my_rate.to_i.times do |i|
            %li.star
      自分の評価

  %ul.shopList
    %li.item
      %a.amazonBtn{href: ""} Amazonへ
    %li.item
      %a.steamBtn{href: ""} Steamへ

  .friendBox
    .friendBoxInner
      %p.text 6人のフォローゲーマーが遊んでいます。
      %ul.friendList
        - 4.times do |i|
          %li.item
            %img.friendImg{src: "../images/baba.jpg", width: "30", height: "30", alt: ""}

  .sortBoxWrap
    %ul.sortBox
      %li.item.current
        %span.follow
          フォローの
          %br
          コメント
      %li.item
        %span.all 全コメント
      %li.item
        %span.star
          ☆の多い
          %br
          コメント

  %article.postBox
    .topBox
      %img.profImg{src: "../images/baba.jpg", width: "58", height: "58", alt: ""}
      .postArea
        %a.account{href: ""} baba
        %span.time 2時間前
        %h2.ttl
          アルティメットヒッツ
          %br
          ファイナルファンタジー
        .mood_playing プレイ中
    %p.text まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目
    .stateBox
      %a.commentBtn{href: ""} コメントする
      %a.favBtn{href: ""} 12

  %article.postBox
    .topBox
      %img.profImg{src: "../images/baba.jpg", width: "58", height: "58", alt: ""}
      .postArea
        %a.account{href: ""} baba
        %span.time 2時間前
        %h2.ttl
          アルティメットヒッツ
          %br
          ファイナルファンタジー
        .mood_ready 気になる
    %p.text まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目
    .stateBox
      %a.commentBtn{href: ""} コメントする
      %a.favBtn{href: ""} 12

  %article.postBox
    .topBox
      %img.profImg{src: "../images/baba.jpg", width: "58", height: "58", alt: ""}
      .postArea
        %a.account{href: ""} baba
        %span.time 2時間前
        %h2.ttl
          アルティメットヒッツ
          %br
          ファイナルファンタジー
        .mood_played アカイブ
    %p.text まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目
    .stateBox
      %a.commentBtn{href: ""} コメントする
      %a.favBtn{href: ""} 12
