= content_for :last do
  = javascript_include_tag "main/smart_phone/header"

%header
  %nav.headerNav
    %ul
      %li.menuWrap
        %a.menu
      %li.title
        = link_to image_tag('logo@2x.png', height:"45px"), posts_path, class:"logo"
      %li.notify.my-notify
        %a.icon-bell{href: ""}
          %span.notifyNum.notify-num
      %li.search
        = link_to "", "/users/#{@current_user[:id]}/search_game_or_user#game", class: "icon-search"
  = render partial: "application/smart_phone/menu"

= render partial: "application/smart_phone/notifications_modal"
= render partial: "application/underscore/smart_phone/header/notification"
