= content_for :last do
  = javascript_include_tag "main/smart_phone/header"

%header
  %nav.headerNav
    %ul
      %li.home
        = link_to "", posts_path, class: "icon-home"
      %li.search
        = link_to "", "/users/#{@current_user[:id]}/search_game_or_user#game", class: "icon-search"
      %li.profile
        = link_to "", "/users/#{@current_user[:id]}#logs", class: "icon-user"
      %li.notify.my-notify
        %a{href: ""}
          %span.icon-bell
            %span.notifyNum.notify-num.icon-bell
      %li.menuWrap
        %a.menu
  = render partial: "application/smart_phone/menu"

= render partial: "application/smart_phone/notifications_modal"
= render partial: "application/underscore/smart_phone/header/notification"
