.openMenuWrap
  %ul.openMenu
    %li.item
      = link_to "タイムライン", posts_path, class:"icon-home"
    %li.item
      = link_to "探す", "/search#game", class: "icon-search"
    - unless @current_user[:id].nil?
      %li.item
        = link_to "マイページ", "/users/#{@current_user[:id]}#logs", class: "icon-user"
      %li.item
        = link_to "アカウント設定", user_providers_path, class: "icon-setting"
      %li.item
        = link_to "ログアウト", logout_users_path, class: "icon-logout"