%header.header
  .headerInner
    %h1.logo Gameful
    %form.searchWrap
      %input.search{placeholder: "キーワードでゲームを探す"}
    %nav.gnavi
      %ul.gnaviList
        %li.item
          = link_to "タイムライン", posts_path, class: "toTimelineBtn"
        %li.item
          = link_to "マイページ", "/users/#{@current_user[:id]}#logs", class: "toProfileBtn"
        %li.item
          %span.notify
            通知
            %span.notifyNum 1
    %figure.profImgWrap
      = image_tag "/user_photos/#{@current_user[:photo_path]}", class: "profImg", width: 35, height: 35, alt: ""
    %ul.openMenu
      %li.item
        = link_to "プロフィール設定", edit_user_path(@current_user), class: "toProfileEdit"
      %li.item
        = link_to "ログアウト", logout_users_path, class: "menuItemLogout"