= content_for :last do
  = javascript_include_tag "main/pc/header"

%header.header
  .headerInner
    %h1.logoWrap
      = link_to "GAMR", posts_path, class: "logo"
    %form.searchWrap
      %input.search.header-search-input{placeholder: "キーワードでゲームを探す"}
    %figure.profImgWrap.menu-btn
      = image_tag "/user_photos/#{@current_user[:photo_path]}", class: "profImg", width: 25, height: 25, alt: ""
    = render partial: "application/pc/menu"
    = render partial: "application/pc/notifications_modal"
    = render partial: "application/underscore/pc/header/notification"
    %nav.gnavi
      %ul.gnaviList
        %li.item
          = link_to "マイページ", "/users/#{@current_user[:id]}#logs", class: "toProfileBtn"
        %li.item
          %span.notify.my-notify
            通知
            %span.notifyNum.notify-num