= content_for :last do
  = javascript_include_tag "main/pc/header"

%header.header
  .headerInner
    %h1.logo Gameful
    %form.searchWrap
      %input.search{placeholder: "キーワードでゲームを探す"}
    %nav.gnavi
      %ul.gnaviList
        %li.item
          = link_to "タイムライン", posts_path, class: "toTimelineBtn"
        %li.item
          = link_to "マイページ", "/users/#{@current_user[:id]}#logs", class: "toProfileBtn"
        %li.item
          %span.notify
            通知
            %span.notifyNum 1
    %figure.profImgWrap.menu-btn
      = image_tag "/user_photos/#{@current_user[:photo_path]}", class: "profImg", width: 35, height: 35, alt: ""
    = render partial: "application/pc/menu"


= render partial: "application/pc/notifications_modal"
= render partial: "application/underscore/pc/header/notification"