= content_for :head do
  = stylesheet_link_tag    "pc/timeline"

= content_for :last do
  = javascript_include_tag "main/pc/timeline"

= render partial: "application/pc/default_header"

%section.mainContent.timeline-page
  %h1.mainContentTtl タイムライン
  .mainContentInner
    .profileColumn
      %article.TopProfile
        .TopProfile__inner
          %figure.TopProfile__imgWrap
            %a{href: "/users/#{@current_user[:id]}#logs"}
              %img.TopProfile__img{src: "/user_photos/#{@current_user[:photo_path]}", width: "60", height: "60", alt: ""}
          %p.TopProfile__name
            = link_to @current_user[:username], "/users/#{@current_user[:id]}#logs", class: "TopProfile__nameLink"
          %p.TopProfile__place.icon-place
            = @current_user[:place]
        %ul.TopProfile__list.count-box
          %li.TopProfile__item.logs-li
            %a.TopProfile__itemLink{href: "/users/#{@current_user[:id]}#logs"}
              マイゲーム
              %span.TopProfile__itemCount
                = @current_user[:logs_count]
          %li.TopProfile__item.posts-li
            %a.TopProfile__itemLink{href: "/users/#{@current_user[:id]}#posts"}
              ポスト
              %span.TopProfile__itemCount
                = @current_user[:posts_count]
          %li.TopProfile__item.follows-li
            %a.TopProfile__itemLink{href: "/users/#{@current_user[:id]}#follows"}
              フォロー
              %span.TopProfile__itemCount
                = @current_user.follow_num
          %li.TopProfile__item.followers-li
            %a.TopProfile__itemLink{href: "/users/#{@current_user[:id]}#followers"}
              フォロワー
              %span.TopProfile__itemCount
                = @current_user.follower_num
    .postColumn
      .AddPost
        .AddPost__inner
          %p.AddPost__error.error-log.select-log-error
          %p.AddPost__select.show-select-modal ゲームを選ぶ
          %textarea.AddPost__input.post-input{placeholder: "そのゲームについて、どう思った？"}
          %ul.AddPost__thumbnailList.thumbnail-list

          #thumbnail

          .url-thumbnail-list

          .AddPost__photo
            %p.AddPost__photoText 写真を追加
            %input.AddPost__photoAdd#upload-btn{type: "file", href: ""}
          %p.AddPost__photoButton.post-btn つぶやく

          = render partial: "log_select"

      .post-list
      = image_tag "gif-load-pc.gif", class: "loading-gif"

    .userColumn
      .Useractivity
        %h1.Useractivity__title 最近登録したユーザー
        %ul.Useractivity__list.user-activity-list



= render partial: "application/pc/footer"

= render partial: "application/underscore/pc/common/follow_btn"
= render partial: "application/underscore/pc/common/unfollow_btn"

= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/timeline/log_option"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/common/user_activity"
= render partial: "application/underscore/pc/timeline/game_thumbnail"
= render partial: "application/underscore/pc/timeline/url_thumbnail"

