= content_for :head do
  = javascript_include_tag "timeline.js"

= #link_to "ログアウト", logout_users_path
= link_to "ユーザー情報", user_path(@current_user)
= #link_to "投稿", "/posts/new#select"

%header
  %h1.ttlWrap
    = link_to "Playdy", posts_path, class: "ttl"
  %span.menu{href: ""}
  %span.serch{href: ""}
  %span.profile{href: ""}
  %ul.openMenu
    %li.item
      %a.menuItem{href: ""} 登録しているゲーム
    %li.item
      %a.menuItem{href: ""} 通知
    %li.item
      = link_to "アカウント設定", user_path(@current_user), class: "menuItem"
    %li.item
      %a.menuItem{href: ""} Playdyとは
    %li.item
      = link_to "ログアウト", logout_users_path, class: "menuItem"

.mainCnt.timeline-page
  .commentWrap
    = link_to "ゲームをシェア", "/posts/new#select", class: "comment"
  .post-list

= render partial: "application/underscore/timeline/post"
= render partial: "application/underscore/timeline/game_option"
= render partial: "application/underscore/timeline/user"




%script{type: "text/template", id: "game-template"}
  {{= title }}
  <%- title %>


