= content_for :head do
  = javascript_include_tag "timeline.js"

= #link_to "ログアウト", logout_users_path
= link_to "ユーザー情報", user_path(@current_user)
= #link_to "投稿", "/posts/new#select"

%header
  %h1.ttlWrap
    = link_to "Playdy", posts_path, class: "ttl"
  %span.menu{href: ""}
  %span.serch{href: ""}
  %span.profile{href: ""}
  %ul.openMenu
    %li.item
      %a.menuItem{href: ""} 登録しているゲーム
    %li.item
      %a.menuItem{href: ""} 通知
    %li.item
      = link_to "アカウント設定", user_path(@current_user), class: "menuItem"
    %li.item
      %a.menuItem{href: ""} Playdyとは
    %li.item
      = link_to "ログアウト", logout_users_path, class: "menuItem"

.mainCnt.timeline-page
  .commentWrap
    = link_to "ゲームをシェア", "/posts/new#select", class: "comment"
  / ここにPostの一覧を表示
  .post-list

%script{type: "text/template", id: "post-template"}
  .topBox
    %img.profImg{width: 58, height: 58, src: "/user_photos/{{= user.photo_path }}"}
    .postArea
      %a.account{href: "#"}
        {{= user.username }}
      %time.time ２時間前
      %h2.ttl
        {{= game.title }}
      .mood_playing プレイ中
  %p.text
    {{= text }}
  .stateBox
    %a.commentBtn{href: "#"}
      コメント
    {{ if(!i_liked) { }}
    %span.like.favBtn
      {{= post_likes_count }}
    {{ } else { }}
    %span.unlike.favBtn
      {{= post_likes_count }}
    {{ } }}



%script{type: "text/template", id: "game-template"}
  <%- title %>

%script{type: "text-template", id: "user-template"}
  <a href="/users/<%= id %>" style="display: block;"><%- username %></a>
