= content_for :head do
  = stylesheet_link_tag    "smart_phone/timeline"

= content_for :last do
  = javascript_include_tag "main/smart_phone/timeline"

= render partial: "application/smart_phone/default_header"

.timeline-page.mainCnt
  .postDialog つぶやきを投稿しました
  = link_to "", "/posts/new#select", class: "postButton"

  .post-list
  / = image_tag "gif-load.gif", class: "loading-gif", width: 43, height: 11


= render partial: "application/underscore/smart_phone/common/delete_confirm"
= render partial: "application/underscore/smart_phone/common/post"
= render partial: "application/underscore/smart_phone/common/post_activity"
= render partial: "application/underscore/smart_phone/common/post_review"






