= content_for :head do
  = stylesheet_link_tag    "smart_phone/timeline"

= content_for :last do
  = javascript_include_tag "main/smart_phone/timeline"

= render partial: "application/smart_phone/default_header"

.timeline-page.mainCnt
  .postWrap
    .imgWrap
      = image_tag "smart_phone/default.png",width:40,height:40, class: "userImg"
    = link_to "ゲームの感想を投稿", "/posts/new#select", class: "icon-post"
  .post-list
  = image_tag "gif-load.gif", class: "loading-gif"

  = render partial: "application/smart_phone/comments_modal"


= render partial: "application/underscore/smart_phone/common/delete_confirm"
= render partial: "application/underscore/smart_phone/common/post"
= render partial: "application/underscore/smart_phone/common/comment"







