= content_for :head do
  = stylesheet_link_tag    "smart_phone/timeline"

= content_for :last do
  = javascript_include_tag "main/smart_phone/timeline"

= render partial: "application/smart_phone/default_header"

.timeline-page.mainCnt
  .postDialog つぶやきを投稿しました
  = link_to "", "/posts/new#select", class: "postButton"
  .activityPost
    %img.gamePhoto{width: 30,height: 30, src: "/game_photos/default.png"}
    %img.profileImage{width: 30, src: "/user_photos/default.png"}
    %span.postText [username]は[gametitle][が気になっています]
    %span.time.icon-time 1日前

  .post-list
  = image_tag "gif-load.gif", class: "loading-gif",width: 43,height:11


= render partial: "application/underscore/smart_phone/common/delete_confirm"
= render partial: "application/underscore/smart_phone/common/post"
= render partial: "application/underscore/smart_phone/common/comment"
= render partial: "application/underscore/smart_phone/common/comment_modal"







