= content_for :head do
  = stylesheet_link_tag    "pc/timeline"

= content_for :last do
  = javascript_include_tag "main/pc/timeline"

= render partial: "application/pc/default_header"

%section.mainContent.timeline-page
  %h1.mainContentTtl タイムライン
  .mainContentInner
    .profileColumn
      %article.profile
        .profileTopBox
          %figure.userImgWrap
            %a{href: "/users/#{@current_user[:id]}#logs"}
              %img.userImg{src: "/user_photos/#{@current_user[:photo_path]}", width: "60", height: "60", alt: ""}
          %p.userName
            = link_to @current_user[:username], "/users/#{@current_user[:id]}#logs"
          %p.userPlace.icon-place
            = @current_user[:place]
        %ul.profileCountList.count-box
          %li.gameNum.logs-li
            %a{href: "/users/#{@current_user[:id]}#logs"}
              マイゲーム
              %span.count
                = @current_user[:logs_count]
          %li.postNum.posts-li
            %a{href: "/users/#{@current_user[:id]}#posts"}
              ポスト
              %span.count
                = @current_user[:posts_count]
          %li.followNum.follows-li
            %a{href: "/users/#{@current_user[:id]}#follows"}
              フォロー
              %span.count
                = @current_user.follow_num
          %li.followerNum.followers-li
            %a{href: "/users/#{@current_user[:id]}#followers"}
              フォロワー
              %span.count
                = @current_user.follower_num
    .postColumn
      .Addpost
        .Addpost__inner
          %p.Addpost__error.error-log.select-log-error
          %p.Addpost__select.show-select-modal ゲームを選ぶ
          %textarea.Addpost__input.post-input{placeholder: "そのゲームについて、どう思った？"}
          %ul.Addpost__thumbnailList.thumbnail-list

          #thumbnail

          .url-thumbnail-list

          .Addpost__photo
            %p.Addpost__photoText 写真を追加
            %input.Addpost__photoAdd#upload-btn{type: "file", href: ""}
          %p.Addpost__photoButton.post-btn つぶやく

          = render partial: "log_select"

      .post-list
      = image_tag "gif-load-pc.gif", class: "loading-gif"

    .userColumn
      .Useractivity
        %h1.Useractivity__title 最近登録したユーザー
        %ul.Useractivity__list.user-activity-list



= render partial: "application/pc/footer"

= render partial: "application/underscore/pc/common/follow_btn"
= render partial: "application/underscore/pc/common/unfollow_btn"

= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/timeline/log_option"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/common/user_activity"
= render partial: "application/underscore/pc/timeline/game_thumbnail"
= render partial: "application/underscore/pc/timeline/url_thumbnail"

