= content_for :head do
  = javascript_include_tag "smart_phone/timeline.js"

= render partial: "application/default_header"

.timeline-page.mainCnt
  .commentWrap
    = link_to "ゲームをシェア", "/posts/new#select", class: "comment"
  .post-list
  = image_tag "gif-load.gif", class: "loading-gif"

.comment-modal
  .modal-header
    .cancel-btn 終了
  .modal-body
  .modal-footer
    %textarea{placeholder: "コメント...", class: "comment-input"}
    .submit-btn 送信
.layer

= render partial: "application/underscore/smart_phone/timeline/post"
= render partial: "application/underscore/smart_phone/timeline/game_option"
= render partial: "application/underscore/smart_phone/timeline/user"







