= content_for :head do
  = stylesheet_link_tag    "smart_phone/timeline"

= content_for :last do
  = javascript_include_tag "main/smart_phone/timeline"

= render partial: "application/smart_phone/default_header"

.timeline-page.mainCnt
  .commentWrap
    = link_to "", "/posts/new#select", class: "icon-post"
    = link_to "新作への期待や、遊んだ感想を投稿しよう", "/posts/new#select", class: "comment"
  .post-list
  = image_tag "gif-load.gif", class: "loading-gif"

  = render partial: "application/smart_phone/comments_modal"


= render partial: "application/underscore/smart_phone/common/delete_confirm"
= render partial: "application/underscore/smart_phone/common/post"
= render partial: "application/underscore/smart_phone/common/comment"







