= content_for :head do
  = stylesheet_link_tag    "pc/timeline"

= content_for :last do
  = javascript_include_tag "main/pc/timeline"

= render partial: "application/pc/default_header"

%section.mainContent.timeline-page
  %h1.mainTtl タイムライン
  .addPost
    %figure.profImgWrap
      = image_tag "/user_photos/#{@current_user[:photo_path]}", width: 44, height: 44, alt: "ユーザー画像", class: "profImg"
    .addPostInner
      %p.selectBtn.show-select-modal ゲームを選ぶ
      %textarea{placeholder: "そのゲームについて、どうおもった？"}
      %ul.thumbnailList
        %li.thumbnail
          %img{src: "", width: "52", height: "52", alt: "ゲーム画像"}
      .photoBtnWrap
        %p.photoBtnText 写真を追加
        %input.addPhoto{type: "file", href: ""}
      %p.addPostBtn 投稿する
      .selectModal
        %p.playing プレイ中
        %ul.gameList
          - 3.times do |i|
            %li.item ゲーム名ゲーム名ゲーム名ゲーム名
        %p.ready 気になる
        %ul.gameList
          - 6.times do |i|
            %li.item ゲーム名ゲーム名ゲーム名ゲーム名
        %p.played クリア済み
        %ul.gameList
          - 8.times do |i|
            %li.item ゲーム名ゲーム名ゲーム名ゲーム名
  .post-list

= render partial: "application/pc/footer"


= render partial: "application/underscore/pc/timeline/post"