= content_for :head do
  = stylesheet_link_tag    "pc/timeline"

= content_for :last do
  = javascript_include_tag "main/pc/timeline"

= render partial: "application/pc/default_header"

%section.mainContent.timeline-page
  .mainContentInner
    .profileColumn
      %article.profile
        .profileTopBox
          %figure.userImgWrap
            %a{href: "/users/#{@current_user[:id]}#logs"}
              %img.userImg{src: "/user_photos/#{@current_user[:photo_path]}", width: "100", height: "100", alt: ""}
          %p.userName
            = link_to @current_user[:username], "/users/#{@current_user[:id]}#logs"
          - unless @current_user[:place].blank?
            %p.userPlace.icon-place
              = @current_user[:place]
        %ul.profileCountList.count-box
          %li.gameNum.logs-li
            %a{href: "/users/#{@current_user[:id]}#logs"}
              マイゲーム
              %span.count
                = @current_user[:logs_count]
          %li.postNum.posts-li
            %a{href: "/users/#{@current_user[:id]}#posts"}
              ポスト
              %span.count
                = @current_user[:posts_count]
          %li.followNum.follows-li
            %a{href: "/users/#{@current_user[:id]}#follows"}
              フォロー
              %span.count
                = @current_user.follow_num
          %li.followerNum.followers-li
            %a{href: "/users/#{@current_user[:id]}#followers"}
              フォロワー
              %span.count
                = @current_user.follower_num
    .postColumn
      .addPost
        .addPostInner
          %p.error-log.select-log-error.selectLogError
          %p.error-message.errorMessage
          %p.selectBtn.show-select-modal ゲームを選ぶ
          %ul.thumbnailList.thumbnail-list
          %textarea.post-input{placeholder: "そのゲームについて、どう思った？"}
          #thumbnail
          .url-thumbnail-list
          %ul.btnList
            %li.listItem.post
              /
                .shareBtn
                  .twBtn
              = image_tag "gif-load-post.gif", class: "loadingPost loading-post"
              %p.addPostBtn.post-btn つぶやく
            %li.listItem
              .photoBtnWrap
                %p.photoBtnText 写真を追加
                %input.addPhoto#upload-btn{type: "file", href: ""}

          = render partial: "log_select"

      .post-list
      = image_tag "gif-load-pc.gif", class: "loading-gif"
    .subColumn.sub-column
      .userColumn
        .userActivity
          %h1.userActivityTtl 最近登録したユーザー
          %ul.userActivityList.user-activity-list

      .gameColumn
        .gameActivity
          %h1.gameActivityTtl 最近登録されたゲーム
          %ul.gameActivityList.game-activity-list




= render partial: "application/underscore/pc/common/follow_btn"
= render partial: "application/underscore/pc/common/unfollow_btn"

= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/timeline/log_option"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/common/post_activity"
= render partial: "application/underscore/pc/common/user_activity"
= render partial: "application/underscore/pc/common/game_activity"
= render partial: "application/underscore/pc/timeline/game_thumbnail"
= render partial: "application/underscore/pc/timeline/url_thumbnail"

