= content_for :head do
  = stylesheet_link_tag    "pc/timeline"

= content_for :last do
  = javascript_include_tag "main/pc/timeline"

= render partial: "application/pc/default_header"

%section.mainContent.timeline-page
  .mainContentInner
    .leftSubColumn
      = render partial: "profile"
      = render partial: "tag_ranking"
      = render partial: "device_ranking"

    .postColumn
      .addPost
        .addPostInner
          %p.error-log.select-log-error.selectLogError
          %p.error-message.errorMessage
          %p.selectBtn.show-select-modal ゲームを選ぶ
          %ul.thumbnailList.thumbnail-list
          %textarea.post-input{placeholder: "そのゲームについて、どう思った？"}
          #thumbnail
          .url-thumbnail-list
          %ul.btnList
            %li.listItem.post
              = image_tag "gif-load-post.gif", class: "loadingPost loading-post"
              %p.addPostBtn.post-btn つぶやく
            %li.listItem.snsBtns
              - @current_user.user_providers.each do |provider|
                - if provider[:service_name] == "twitter"
                  .shareBtn
                    .twBtn.twitter-btn
                / - if provider[:service_name] == "facebook"
                /   .shareBtn
                /     .fbBtn.facebook-btn
            %li.listItem
              .photoBtnWrap
                %p.photoBtnText 写真を追加
                %input.addPhoto#upload-btn{type: "file", href: ""}

          = render partial: "log_select"

      .post-list
      = image_tag "gif-load-pc.gif", class: "loading-gif timeline-gif"

    .rightSubColumn.sub-column
      = render partial: "game_ranking"
      = render partial: "recent_user"
      = render partial: "footer"




= render partial: "application/underscore/pc/common/follow_btn"
= render partial: "application/underscore/pc/common/unfollow_btn"

= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/timeline/log_option"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/common/post_activity"
= render partial: "application/underscore/pc/common/user_activity"
= render partial: "application/underscore/pc/common/game_activity"
= render partial: "application/underscore/pc/timeline/game_thumbnail"
= render partial: "application/underscore/pc/timeline/url_thumbnail"

