= content_for :head do
  = stylesheet_link_tag    "pc/timeline"

= content_for :last do
  = javascript_include_tag "main/pc/timeline"

= render partial: "application/pc/default_header"

%section.mainContent.timeline-page
  .profileColumn
    %article.profile
      .profileTopBox
        %figure.userImgWrap
          %img.userImg{src: "", width: "80", height: "80", alt: ""}
        %p.userName user1
      %ul.profileCountList.count-box
        %li.gameNum.logs-li
          %a.profileCountListLink{href: ""}
            ライブラリ
            %span.count 200
        %li.postNum.posts-li
          %a.profileCountListLink{href: ""}
            ポスト
            %span.count 200
        %li.followNum.follows-li
          %a.profileCountListLink{href: ""}
            フォロー
            %span.count 200
        %li.followerNum.followers-li
          %a.profileCountListLink{href: ""}
            フォロワー
            %span.count 200
  .postColumn
    .addPost
      %figure.profImgWrap
        = image_tag "/user_photos/#{@current_user[:photo_path]}", width: 44, height: 44, alt: "ユーザー画像", class: "profImg"
      .addPostInner
        %p.selectBtn.show-select-modal ゲームを選ぶ
        %textarea.post-input{placeholder: "そのゲームについて、どうおもった？"}
        %ul.thumbnailList.thumbnail-list

        #thumbnail

        .photoBtnWrap
          %p.photoBtnText 写真を追加
          %input.addPhoto#upload-btn{type: "file", href: ""}
        %p.addPostBtn.post-btn 投稿する

        = render partial: "log_select"

    .post-list
    = image_tag "gif-load-pc.gif", class: "loading-gif"

  .userColumn
    .userActivity
      %h1.userActivityTtl 最近登録したユーザー
      %ul.userActivityList.user-activity-list



= render partial: "application/pc/footer"

= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/timeline/log"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/common/user_activity"
= render partial: "application/underscore/pc/timeline/game_thumbnail"
= render partial: "application/underscore/pc/timeline/url_thumbnail"