= content_for :head do
  = stylesheet_link_tag    "pc/timeline"

= content_for :last do
  = javascript_include_tag "main/pc/timeline"

= render partial: "application/pc/default_header"

%section.mainContent.timeline-page
  .userColumn
    .userActivity
      %h1.userActivityTtl 最近登録したユーザー
      %ul.userActivityList
        - 10.times do |i|
          %li.userActivityListItem
            %figure.userActivityImgWrap
              %img.userActivityImg{src: "", width: "40", height: "40", alt: ""}
            %a.userActivityUsername{href: ""} user1
            %p.userActivityUserprof ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー
  .postColumn
    .addPost
      %figure.profImgWrap
        = image_tag "/user_photos/#{@current_user[:photo_path]}", width: 44, height: 44, alt: "ユーザー画像", class: "profImg"
      .addPostInner
        %p.selectBtn.show-select-modal ゲームを選ぶ
        %textarea.post-input{placeholder: "そのゲームについて、どうおもった？"}
        %ul.thumbnailList.thumbnail-list

        #thumbnail

        .photoBtnWrap
          %p.photoBtnText 写真を追加
          %input.addPhoto#upload-btn{type: "file", href: ""}
        %p.addPostBtn.post-btn 投稿する

        = render partial: "log_select"

    .post-list
    = image_tag "gif-load-pc.gif", class: "loading-gif"



= render partial: "application/pc/footer"

= render partial: "application/underscore/pc/common/delete_confirm"
= render partial: "application/underscore/pc/timeline/log"
= render partial: "application/underscore/pc/common/post"
= render partial: "application/underscore/pc/timeline/game_thumbnail"
= render partial: "application/underscore/pc/timeline/url_thumbnail"