= content_for :head do
  = stylesheet_link_tag    "smart_phone/post"
  = javascript_include_tag "views/smart_phone/post"

.post-new-page{"data-userid" => @current_user[:id]}

= render partial: "application/underscore/smart_phone/post/select"
= render partial: "application/underscore/smart_phone/post/log"

= render partial: "application/underscore/smart_phone/post/write"
= render partial: "application/underscore/smart_phone/post/game"

= render partial: "application/underscore/smart_phone/post/add"
= render partial: "application/underscore/smart_phone/post/result"




