= content_for :head do
  = stylesheet_link_tag    "pc/post_detail"

= content_for :last do
  = javascript_include_tag "main/pc/post_detail"

= render partial: "application/pc/default_header"

%section.mainContent.post-detail-page
  .topBox
    .gameWrap
      %figure.gameMainWrap
        %a
          = image_tag "/game_photos/default.png", width: 240, class: "gameImg", alt: "ゲームパッケージ画像"
      .Source
        %a 出典:STEAM
    .postWrap
      %a.gameTitle
        %h1 ゲームタイトルゲームタイトル
      %h2.maker
        %span by
        %span.makerName メーカー
      .postBox
        .postHeader
          %a.postHeaderLink{href: "/users/#{@post.user[:id]}"}
            %img.profileImage{width: 30, src: "/user_photos/#{@post.user[:photo_path]}"}
            %span.userName
              = @post.user[:username]
            %span.statusBox
              - case @post.log[:status_id]
              - when 1
                %span.moodReady
                  = @post.log.status[:name]
              - when 2
                %span.moodPlaying
                  = @post.log.status[:name]
              - when 3
                %span.moodPlayed
                  = @post.log.status[:name]
              - when 4
                %span.moodStock
                  = @post.log.status[:name]
        .postBody
          .postText
            = simple_format @post[:text]
          .postMeta
            .postTime.icon-time
              = @post.relative_time

          - @post.post_photos.each do |photo|
            .postThumbnail
              %img.thumbnailImage{src: "/post_photos/#{photo[:photo_path]}", width:300, height:200}

          - @post.post_urls.each do |url|
            .urlThumbnailWrap
              %a.urlThumbnail
                = image_tag url[:thumbnail], class: "thumbnailImg"
                .body
                  %p.title
                    = url[:title]
                  %p.description
                    = simple_format url[:description]
          .postFooter
            %ul.actionList
              %li
                %span.favBtn.icon-like{class: @post.i_liked ? "unlike-btn on" : "like-btn"}
              %li
                %a.commentBtn.icon-comment
              - if @post[:user_id] == @current_user[:id]
                %li
                  %span.icon-option.delete-btn
        .likeUserListBox
          %h2.listTitle いいね！○件
          %ul.likeUserList
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
            %li.likeUser
              %a
                %img.userImg{src: "/user_photos/default.png", width: "25", height: "25", alt: ""}
        .commentBox
          %ul.commentList
            %li.item
              %figure.profImgWrap
                %img.profImg{src: "/user_photos/default.png", width: "30", height: "30", alt: ""}
              .commentInfo
                %a.account username
                %p.commentTime.icon-time 投稿時間
                %p.comment-like.fvrBtn
                  いいね！
                  %span.likeNum ○件
                %p.userComment コメント本文コメント本文
          .myCommentBox
            %figure.profImgWrap
              %img.profImg{src: "/user_photos/default.png", width: "30", height: "30", alt: ""}
            %form.commentWrap
              %textarea.comment.comment-input{placeholder: "コメントする"}
= render partial: "application/pc/footer"