= content_for :head do
  = stylesheet_link_tag    "smart_phone/post_detail"

= content_for :last do
  = javascript_include_tag "main/smart_phone/post_detail"

= render partial: "application/smart_phone/default_header"

%section.mainContent.post-detail-page
  .likeUserList
    .listHeader 閉じる
    %ul
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
      %li
        %img.profImg{src: "/user_photos/default.png"}
        %span.userName username
  .gameWrap
    %figure.imgWrap
      %a
        = image_tag "/game_photos/default.png", height: 200, width: 100, class: "gameImg"
    .gameInfo
      .source
        %a 出典：STEAM
      %h1.ttl
        %a
          ゲームタイトルゲームタイトル
      %h2.maker
        %span by
        %span.makerName
          メーカー名メーカー名
  .postBox
    .postHeader
      %a.postHeaderLink
        %img.profileImage{width: 30, src: "/user_photos/default.png"}
        %span.userName username
        %span.statusBox
          %span.moodReady ステータス
    .postBody
      .postText 本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。本文です。
      .postMeta
        .postTime.icon-time 5時間前
      .postThumbnail
        %img.thumbnailImage{src: "/game_photos/default.png", width:300, height:200}
      .urlThumbnailWrap
        %a.urlThumbnail
          %img.thumbnailImg{src: "/user_photos/default.png"}
          .body
            %p.title リンク先ページタイトル
            %p.description リンク先概要
      .postFooter
        %ul.actionList
          %li.left
            %span.likeCount いいね！10件
          %li
            %span.like-btn.favBtn.icon-like
          %li
            %a.commentBtn.icon-comment
          %li
            %span.icon-option.delete-btn
  .commentExpand その他の"○"件のコメント
  .commentBox
    .commentHeader
      %a.commentHeaderLink
        %img.profileImage{width: 30, src: "/user_photos/default.png"}
        %span.userName username
    .commentBody
      .commentText コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。
      .commentMeta
        .commentTime.icon-time 5時間前
      .commentFooter
        %ul.actionList
          %li.like
            %span.like-btn.favBtn.icon-like
          %li
            %span.icon-option.delete-btn
  .commentBox
    .commentHeader
      %a.commentHeaderLink
        %img.profileImage{width: 30, src: "/user_photos/default.png"}
        %span.userName username
    .commentBody
      .commentText コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。コメントです。
      .commentMeta
        .commentTime.icon-time 5時間前
      .commentFooter
        %ul.actionList
          %li
            %span.like-btn.favBtn.icon-like
              %span.likeCnt 100
          %li
            %span.icon-option.delete-btn
  .commentMod
    %textarea{placeholder: "コメント..."}
    .submit-comment-btn.done-btn 送信