= content_for :head do
  = stylesheet_link_tag    "smart_phone/post_detail"

= content_for :last do
  = javascript_include_tag "main/smart_phone/post_detail"

= render partial: "application/smart_phone/default_header"

%section.mainContent.post-detail-page{"data-postid" => @post[:id]}
  = render partial: "application/smart_phone/like_users_modal", locals: {like_count: @post[:post_likes_count]}

  .gameWrap
    %figure.imgWrap
      - url    = @post.game[:amazon_url] ? @post.game[:amazon_url] : ""
      - target = @post.game[:amazon_url] ? "blank" : ""
      %a{href: url, target: target}
        - if @post.game[:photo_path]
          = image_tag "/game_photos/#{@post.game[:photo_path]}", height: 200, width: 100, class: "gameImg"
        - elsif @post.game[:photo_url]
          = image_tag @post.game[:photo_url], height: 200, width: 100, class: "gameImg"
        - else
          = image_tag "/game_photos/default.png", height: 200, width: 100, class: "gameImg"
    .gameInfo
      .source
        - case @post.game[:provider]
        - when "famituu"
          %a{href: @post.game[:provider_url], target: "blank"} 出典:ファミ通
        - when "steam"
          %a{href: @post.game[:provider_url], target: "blank"} 出典:STEAM
      %h1.ttl
        %a{href: "/games/#{@post.game[:id]}#all"}
          = @post.game[:title]
      %h2.maker
        %span by
        %span.makerName
          = @post.game[:maker]
  .postBox
    .postHeader
      %a.postHeaderLink{href: "/users/#{@post.user[:id]}"}
        %img.profileImage{width: 30, src: "/user_photos/#{@post.user[:photo_path]}"}
        %span.userName
          = @post.user[:username]
        %span.statusBox
          - case @post.log[:status_id]
          - when 1
            %span.moodReady
              = @post.log.status[:name]
          - when 2
            %span.moodPlaying
              = @post.log.status[:name]
          - when 3
            %span.moodPlayed
              = @post.log.status[:name]
          - when 4
            %span.moodStock
              = @post.log.status[:name]
    .postBody
      .postText
        = simple_format @post[:text]
      .postMeta
        .postTime.icon-time
          = @post.relative_time

      - @post.post_photos.each do |photo|
        .postThumbnail
          %img.thumbnailImage{src: "/post_photos/#{photo[:photo_path]}", width:300, height:200}

      - @post.post_urls.each do |url|
        .urlThumbnailWrap
          %a.urlThumbnail
            = image_tag url[:thumbnail], class: "thumbnailImg"
            .body
              %p.title
                = url[:title]
              %p.description
                = simple_format url[:description]
      .postFooter
        %ul.actionList
          %li.left
            %span.likeCount.show-like-user
              いいね！
              %span.like-count
                = @post[:post_likes_count]
                %span 件
          - unless @current_user[:id].nil?
            %li
              %span.favBtn.icon-like{class: @post.i_liked ? "unlike-btn on" : "like-btn"}
            %li
              %a.commentBtn.icon-comment
          - if @post[:user_id] == @current_user[:id]
            %li
              %span.icon-option.delete-btn

  .commentExpand.comment-expand 以前のコメント...
  .comment-list

  #scroll-target

  - unless @current_user[:id].nil?
    .commentMod
      %textarea.comment-input{placeholder: "コメント..."}
      .submit-comment-btn.done-btn 送信

= render partial: "application/underscore/smart_phone/post_detail/like_user"
= render partial: "application/underscore/smart_phone/common/comment"
= render partial: "application/underscore/smart_phone/common/delete_confirm"
