= content_for :head do
  = javascript_include_tag "smart_phone/log.js"

.logs-page.editCnt{"data-userid" => @current_user[:id]}


= render partial: "application/underscore/logs/edit"
= render partial: "application/underscore/logs/log"

= render partial: "application/underscore/logs/add"
= render partial: "application/underscore/logs/result"

