= content_for :head do
  = javascript_include_tag "smart_phone/log.js"

%header
  %h1.ttlWrap
    = link_to "Playdy", posts_path, class: "ttl"
  %span.menu{href: ""}
  %span.serch{href: ""}
  = link_to "", user_path(@current_user), class: "profile"
  %ul.openMenu
    %li.item
      %a.menuItem{href: ""} 登録しているゲーム
    %li.item
      %a.menuItem{href: ""} 通知
    %li.item
      = link_to "アカウント設定", user_path(@current_user), class: "menuItem"
    %li.item
      %a.menuItem{href: ""} Playdyとは
    %li.item
      = link_to "ログアウト", logout_users_path, class: "menuItem"

.logs-page.editCnt{"data-userid" => @current_user[:id]}
  .sortBoxWrap
    %ul.sortBox
      %li.item.current.ready-li
        %span.ready 気になる
      %li.item.playing-li
        %span.playing プレイ中
      %li.item.played-li
        %span.played アーカイブ

  %form.searchWrap
    %input.search{type: "text", placeholder: "search"}

  %ul.gameList

= render partial: "application/underscore/logs/log"

