!!!
%html
  %head
    = render partial: "application/common/meta"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %title
      = @head_meta[:title]
    = stylesheet_link_tag "application_smart_phone", media: "all"
    = yield :head
    = csrf_meta_tags
    = favicon_link_tag "/favicon.ico"
    = render partial: "application/common/google_analytics"
  %body
    #wrapper{"data-userid" => @current_user ? @current_user[:id] : nil}
      = yield

    = render partial: "application/smart_phone/layout_below"

    = javascript_include_tag "application"
    = yield :last
