!!!
%html
	%head
		%title
			Ingame
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "underscore-min.js"
		= javascript_include_tag "backbone-min.js"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= yield
