!!!
%html
  %head
    = render partial: "application/common/meta"
    %title
      = @head_meta[:title]
    = stylesheet_link_tag "application", media: "all"
    = yield :head
    = csrf_meta_tags
    = favicon_link_tag "/favicon.ico"
    = render partial: "application/common/google_analytics"
  %body
    #wrapper{"data-userid" => @current_user ? @current_user[:id] : nil}
      = yield

    = render partial: "application/pc/layout_below"

    = javascript_include_tag "application"
    = yield :last
