!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		= stylesheet_link_tag "application", media: "all"
		= javascript_include_tag "underscore-min.js"
		= javascript_include_tag "application"
		= javascript_include_tag "backbone-min.js"
		= yield :head
		= csrf_meta_tags
	%body
		#wrapper
			= yield